@import url("https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600,700");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
body {
  position: relative;
  width: 100%;
  font-size: 12px;
  color: #666;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 46px;
  background-color: #ececec; }

.container {
  padding-left: 10px;
  padding-right: 10px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.company {
  background-color: #f2f3f5; }

.introduce {
  padding-bottom: 0; }
  .introduce .section-content .intro-img .img-responsive {
    margin: 0 auto; }
  .introduce .section-content .intro-img > figcaption {
    text-align: center;
    margin-top: 25px; }
    .introduce .section-content .intro-img > figcaption h4 {
      font-size: 24px;
      color: #e61937;
      margin-bottom: 30px; }
    .introduce .section-content .intro-img > figcaption p {
      font-size: 13px;
      line-height: 24px;
      color: #666; }
  .introduce .section-content .company-infomation {
    padding: 45px 0 90px;
    background-color: #ececec;
    background-image: url(/mobile/assets/images/company/information_bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 50%; }

.service-area {
  padding-top: 0; }
  .service-area .section-content {
    text-align: center; }
    .service-area .section-content .summary {
      font-size: 16px;
      font-weight: 300;
      color: #666;
      line-height: 24px; }
      .service-area .section-content .summary b {
        color: #e61937;
        font-weight: 500; }
    .service-area .section-content ul {
      margin-top: 60px; }
      .service-area .section-content ul li {
        width: 100%;
        margin-bottom: 25px; }
        .service-area .section-content ul li:last-child {
          margin-bottom: 0; }
        .service-area .section-content ul li:nth-of-type(2n + 1) figure {
          background-color: #939393; }
        .service-area .section-content ul li figure {
          width: 200px;
          height: 200px;
          margin: 0 auto;
          border-radius: 50%;
          text-align: center;
          padding: 48px 0 48px;
          background-color: #e61937; }
          .service-area .section-content ul li figure img {
            display: block;
            width: 51px;
            margin: 0 auto; }
          .service-area .section-content ul li figure figcaption {
            font-size: 14px;
            color: #fff;
            line-height: 18px;
            font-weight: 300;
            margin-top: 20px; }

.greeting .section-content .figure .img-responsive {
  margin: 0 auto; }
.greeting .section-content .details {
  overflow: hidden;
  margin-top: 40px; }
  .greeting .section-content .details p {
    font-size: 12px;
    color: #666;
    font-weight: 300;
    line-height: 26px;
    text-align: justify; }
  .greeting .section-content .details strong {
    display: block;
    color: #333;
    font-weight: 400;
    line-height: 30px;
    font-size: 15px;
    margin: 50px 0 70px; }
  .greeting .section-content .details .ceo {
    float: right; }
    .greeting .section-content .details .ceo h4 {
      display: inline-block;
      font-size: 16px;
      color: #666;
      line-height: 23px;
      font-weight: 300;
      margin-right: 55px; }
    .greeting .section-content .details .ceo .sign {
      display: inline-block; }
      .greeting .section-content .details .ceo .sign img {
        width: 116px; }

.ci {
  padding-bottom: 0; }
  .ci .section-content .summary {
    font-size: 12px;
    color: #666;
    font-weight: 300;
    line-height: 25px;
    text-align: justify; }
  .ci .section-content article {
    border: 1px solid #ececed;
    background-image: url(/mobile/assets/images/company/ci_bg.gif); }
    .ci .section-content article ~ article {
      padding: 20px 20px 25px;
      margin-top: 20px; }
    .ci .section-content article h4 {
      font-size: 18px;
      color: #222;
      font-weight: 400;
      margin-bottom: 60px; }
    .ci .section-content article figure img {
      display: block;
      margin: 0 auto; }
    .ci .section-content article .btn-area {
      margin-top: 60px; }
      .ci .section-content article .btn-area p .btn-default {
        width: 165px; }
    .ci .section-content article.rsa-ci {
      padding: 70px 0 60px;
      margin-top: 40px; }
      .ci .section-content article.rsa-ci figure img {
        width: 249px; }
    .ci .section-content article.ko-ci figure img {
      width: 238px; }
    .ci .section-content article.en-ci figure img {
      width: 214px; }

.color-system {
  padding-bottom: 0; }
  .color-system .section-content .summary {
    font-size: 12px;
    color: #666;
    font-weight: 300;
    line-height: 25px;
    text-align: justify; }
  .color-system .section-content article {
    position: relative;
    margin-top: 65px;
    padding: 40px 0 30px;
    border-radius: 30px;
    border: 1px solid #bfbfbf;
    background-color: #f2f3f5; }
    .color-system .section-content article h4 {
      position: absolute;
      top: -10px;
      left: 50%;
      width: 130px;
      display: inline-block;
      font-size: 18px;
      color: #333;
      font-weight: 400;
      text-align: center;
      margin-left: -65px;
      background-color: #f2f3f5; }
    .color-system .section-content article figure img {
      display: block;
      margin: 0 auto; }
    .color-system .section-content article ~ article {
      margin-top: 60px; }
    .color-system .section-content article.main-color figure img {
      width: 158px; }
    .color-system .section-content article.sub-color figure img {
      width: 149px; }

.brand-mark {
  padding-bottom: 0; }
  .brand-mark .section-content {
    padding: 100px 0 60px;
    border: 1px solid #ececed;
    background-image: url(/mobile/assets/images/company/ci_bg.gif); }
    .brand-mark .section-content figure img {
      display: block;
      margin: 0 auto;
      width: 249px; }
    .brand-mark .section-content .btn-area {
      margin-top: 60px; }
      .brand-mark .section-content .btn-area p .btn-default {
        width: 165px; }

.slogan .section-content {
  padding: 50px 0 60px;
  border: 1px solid #ececed;
  background-image: url(/mobile/assets/images/company/ci_bg.gif); }
  .slogan .section-content figure img {
    display: block;
    margin: 0 auto;
    width: 164px; }

.history .section-content figure .img-responsive {
  margin: 0 auto; }
.history .section-content ol {
  margin-top: 30px; }
  .history .section-content ol > li {
    position: relative;
    padding-left: 88px;
    padding-bottom: 40px; }
    .history .section-content ol > li dl dt {
      position: absolute;
      top: 0;
      left: 0;
      width: 88px;
      font-size: 16px;
      color: #555;
      padding-top: 18px;
      font-family: 'Titillium Web', sans-serif;
      font-weight: bold;
      border-top: 2px solid #5f6061; }
    .history .section-content ol > li dl dd {
      padding: 19px 10px 0 26px;
      border-top: 1px solid #b8b9ba; }
      .history .section-content ol > li dl dd ul li {
        font-size: 12px;
        color: #666;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 10px; }
      .history .section-content ol > li dl dd figure {
        padding-top: 10px; }
        .history .section-content ol > li dl dd figure img {
          display: block; }
    .history .section-content ol > li:nth-of-type(1) dd figure img {
      width: 175px; }
    .history .section-content ol > li:nth-of-type(2) dd figure img {
      width: 42px; }
    .history .section-content ol > li:nth-of-type(3) dd figure img {
      width: 56px; }
    .history .section-content ol > li:nth-of-type(4) dd figure img {
      width: 95px; }
    .history .section-content ol > li:nth-of-type(6) dd figure img {
      width: 29px; }
    .history .section-content ol > li:nth-of-type(7) dd figure img {
      width: 127px; }

.location .section-content .nav-tabs {
  display: table;
  width: 100%; }
  .location .section-content .nav-tabs li {
    display: table-cell;
    width: 50%; }
    .location .section-content .nav-tabs li a {
      height: 45px;
      font-size: 13px;
      color: #999;
      text-align: center;
      line-height: 43px;
      padding: 0;
      margin: 0;
      border: 1px solid #e3e3e3;
      border-radius: 0;
      background-color: #fff; }
    .location .section-content .nav-tabs li:last-child a {
      border-left: 0; }
    .location .section-content .nav-tabs li.active a {
      color: #fff;
      border-color: #e61937;
      background-color: #e61937; }
.location .section-content .tab-content {
  margin-top: 35px; }
  .location .section-content .tab-content .tab-pane .map .img-responsive {
    margin: 0 auto; }
  .location .section-content .tab-content .tab-pane .table-wrap {
    margin-top: 21px; }
    .location .section-content .tab-content .tab-pane .table-wrap .table tr td i {
      margin-right: 10px; }
    .location .section-content .tab-content .tab-pane .table-wrap .table tr td a {
      color: #666;
      text-decoration: none; }

.partner .section-content figure .img-responsive {
  margin: 0 auto; }
.partner .section-content figure figcaption {
  margin-top: 40px; }
  .partner .section-content figure figcaption h4 {
    font-size: 20px;
    line-height: 36px;
    color: #666;
    font-weight: 400;
    margin-bottom: 40px; }
  .partner .section-content figure figcaption p {
    font-size: 12px;
    line-height: 25px;
    color: #666;
    font-weight: 300; }
.partner .section-content .btn-area {
  margin-top: 55px; }
.partner .section-content ul {
  text-align: center;
  margin-top: 25px; }
  .partner .section-content ul li {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    line-height: 24px; }
    .partner .section-content ul li a {
      color: #666;
      font-weight: 400;
      text-decoration: none; }

/*# sourceMappingURL=company.css.map */
