@import 'common';

.company {
    background-color: #f2f3f5;
}

// 회사 소개
.introduce {
    padding-bottom: 0;
    .section-content {
        .intro-img {
            .img-responsive {
                margin: 0 auto;
            }
            > figcaption {
                text-align: center;
                margin-top: 25px;
                h4 {
                    font-size: 24px;
                    color: $rcolor;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 13px;
                    line-height: 24px;
                    color: #666;
                }
            }
        }
        .company-infomation {
            padding: 45px 0 90px;
            background-color: #ececec;
            background-image: url(/mobile/assets/images/company/information_bg.png);
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: 50% 50%;
        }
    }
}
.service-area {
    padding-top: 0;
    .section-content {
        text-align: center;
        .summary {
            font-size: 16px;
            font-weight: 300;
            color: #666;
            line-height: 24px;
            b {
                color: $rcolor;
                font-weight: 500;
            }
        }
        ul {
            margin-top: 60px;
            li {
                width: 100%;
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:nth-of-type(2n + 1) {
                    figure {
                        background-color: #939393;
                    }
                }
                figure {
                    width: 200px;
                    height: 200px;
                    margin: 0 auto;
                    border-radius: 50%;
                    text-align: center;
                    padding: 48px 0 48px;
                    background-color: $rcolor;
                    img {
                        display: block;
                        width: 51px;
                        margin: 0 auto;
                    }
                    figcaption {
                        font-size: 14px;
                        color: #fff;
                        line-height: 18px;
                        font-weight: 300;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

// 인사말
.greeting {
    .section-content {
        .figure {
            .img-responsive {
                margin: 0 auto;
            }
        }
        .details {
            overflow: hidden;
            margin-top: 40px;
            p {
                font-size: 12px;
                color: #666;
                font-weight: 300;
                line-height: 26px;
                text-align: justify;
            }
            strong {
                display: block;
                color: #333;
                font-weight: 400;
                line-height: 30px;
                font-size: 15px;
                margin: 50px 0 70px;
            }
            .ceo {
                float: right;
                h4 {
                    display: inline-block;
                    font-size: 16px;
                    color: #666;
                    line-height: 23px;
                    font-weight: 300;
                    margin-right: 55px;
                }
                .sign {
                    display: inline-block;
                    img {
                        width: 116px;
                    }
                }
            }
        }
    }
}

// ci
.ci {
    padding-bottom: 0;
    .section-content {
        .summary {
            font-size: 12px;
            color: #666;
            font-weight: 300;
            line-height: 25px;
            text-align: justify;
        }
        article {
            border: 1px solid #ececed;
            background-image: url(/mobile/assets/images/company/ci_bg.gif);
            ~ article {
                padding: 20px 20px 25px;
                margin-top: 20px;
            }
            h4 {
                font-size: 18px;
                color: #222;
                font-weight: 400;
                margin-bottom: 60px;
            }
            figure {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            .btn-area {
                margin-top: 60px;
                p {
                    .btn-default {
                        width: 165px;
                    }
                }
            }
            &.rsa-ci {
                padding: 70px 0 60px;
                margin-top: 40px;
                figure {
                    img {
                        width: 249px;
                    }
                }
            }
            &.ko-ci {
                figure {
                    img {
                        width: 238px;
                    }
                }
            }
            &.en-ci {
                figure {
                    img {
                        width: 214px;
                    }
                }
            }
        }
    }
}
.color-system {
    padding-bottom: 0;
    .section-content {
        .summary {
            font-size: 12px;
            color: #666;
            font-weight: 300;
            line-height: 25px;
            text-align: justify;
        }
        article {
            position: relative;
            margin-top: 65px;
            padding: 40px 0 30px;
            border-radius: 30px;
            border: 1px solid #bfbfbf;
            background-color: #f2f3f5;
            h4 {
                position: absolute;
                top: -10px;
                left: 50%;
                width: 130px;
                display: inline-block;
                font-size: 18px;
                color: #333;
                font-weight: 400;
                text-align: center;
                margin-left: -65px;
                background-color: #f2f3f5;
            }
            figure {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            ~ article {
                margin-top: 60px;
            }
            &.main-color {
                figure {
                    img {
                        width: 158px;
                    }
                }
            }
            &.sub-color {
                figure {
                    img {
                        width: 149px;
                    }
                }
            }
        }
    }
}
.brand-mark {
    padding-bottom: 0;
    .section-content {
        padding: 100px 0 60px;
        border: 1px solid #ececed;
        background-image: url(/mobile/assets/images/company/ci_bg.gif);
        figure {
            img {
                display: block;
                margin: 0 auto;
                width: 249px;
            }
        }
        .btn-area {
            margin-top: 60px;
            p {
                .btn-default {
                    width: 165px;
                }
            }
        }
    }
}
.slogan {
    .section-content {
        padding: 50px 0 60px;
        border: 1px solid #ececed;
        background-image: url(/mobile/assets/images/company/ci_bg.gif);
        figure {
            img {
                display: block;
                margin: 0 auto;
                width: 164px;
            }
        }
    }
}

// 연혁
.history {
    .section-content {
        figure {
            .img-responsive {
                margin: 0 auto;
            }
        }
        ol {
            margin-top: 30px;
            > li {
                position: relative;
                padding-left: 88px;
                padding-bottom: 40px;
                dl {
                    dt {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 88px;
                        font-size: 16px;
                        color: #555;
                        padding-top: 18px;
                        @include titi();
                        font-weight: bold;
                        border-top: 2px solid #5f6061;
                    }
                    dd {
                        padding: 19px 10px 0 26px;
                        border-top: 1px solid #b8b9ba;
                        ul {
                            li {
                                font-size: 12px;
                                color: #666;
                                font-weight: 300;
                                line-height: 20px;
                                margin-bottom: 10px;
                            }
                        }
                        figure {
                            padding-top: 10px;
                            img {
                                display: block;
                            }
                        }
                    }
                }
                &:nth-of-type(1) {
                    dd {
                        figure {
                            img {
                                width: 175px;
                            }
                        }
                    }
                }
                &:nth-of-type(2) {
                    dd {
                        figure {
                            img {
                                width: 42px;
                            }
                        }
                    }
                }
                &:nth-of-type(3) {
                    dd {
                        figure {
                            img {
                                width: 56px;
                            }
                        }
                    }
                }
                &:nth-of-type(4) {
                    dd {
                        figure {
                            img {
                                width: 95px;
                            }
                        }
                    }
                }
                &:nth-of-type(6) {
                    dd {
                        figure {
                            img {
                                width: 29px;
                            }
                        }
                    }
                }
                &:nth-of-type(7) {
                    dd {
                        figure {
                            img {
                                width: 127px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 사업장 안내
.location {
    .section-content {
        .nav-tabs {
            display: table;
            width: 100%;
            li {
                display: table-cell;
                width: 50%;
                a {
                    height: 45px;
                    font-size: 13px;
                    color: #999;
                    text-align: center;
                    line-height: 43px;
                    padding: 0;
                    margin: 0;
                    border: 1px solid #e3e3e3;
                    border-radius: 0;
                    background-color: #fff;
                }
                &:last-child {
                    a {
                        border-left: 0;
                    }
                }
                &.active {
                    a {
                        color: #fff;
                        border-color: $rcolor;
                        background-color: $rcolor;
                    }
                }
            }
        }
        .tab-content {
            margin-top: 35px;
            .tab-pane {
                .map {
                    .img-responsive {
                        margin: 0 auto;
                    }
                }
                .table-wrap {
                    margin-top: 21px;
                    .table {
                        tr {
                            td {
                                i {
                                    margin-right: 10px;
                                }
                                a {
                                    color: #666;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 파트너쉽 제안
.partner {
    .section-content {
        figure {
            .img-responsive {
                margin: 0 auto;
            }
            figcaption {
                margin-top: 40px;
                h4 {
                    font-size: 20px;
                    line-height: 36px;
                    color: #666;
                    font-weight: 400;
                    margin-bottom: 40px;
                }
                p {
                    font-size: 12px;
                    line-height: 25px;
                    color: #666;
                    font-weight: 300;
                }
            }
        }
        .btn-area {
            margin-top: 55px;
        }
        ul {
            text-align: center;
            margin-top: 25px;
            li {
                font-size: 14px;
                color: #666;
                font-weight: 400;
                line-height: 24px;
                a {
                    color: #666;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
        }
    }
}











































