@import 'common';

.page-header {
    background-image: url(/mobile/assets/images/customer/page_header_bg.jpg);
}

//공통 
.board-list {
    > li {
        > a {
            dl {
                dt {
                    width: 50px;
                    margin-right: 0;
                }
            }
        }
    }                
}

//faq 리스트
.faq-list {
    .list {
        padding-left: 0;
        padding-right: 0;
        .article-header {
            padding-left: 10px;
            padding-right: 10px;
        }
        padding-bottom: 0;
    }
    .article-content {
        margin-top: 25px;
    }
    .paging {
        margin-top: 25px;
    }
}

//faq 뷰
.faq-view {
    .view {
        .article-content {
            .btn-area {
                margin-top: 25px;
            }
        }
    }
}

//faq 글쓰기
.faq-write {
    .write {
        .article-content {
            .btn-area {
                margin-top: 25px;
            }
        }
    }
}


//qna 리스트
.qna-list {
    .list {
        padding-left: 0;
        padding-right: 0;
        .article-header {
            padding-left: 10px;
            padding-right: 10px;
        }
        padding-bottom: 0;
    }
    .article-content {
        margin-top: 25px;
    }
    .btn-area {
        margin-top: 30px;
        margin-top: 30px;
    }
    .paging {
        margin-top: 25px;
    }
}

//qna 뷰
.qna-view {
    .view {
        .article-content {
            .btn-area {
                margin-top: 25px;
            }
        }
    }
}

//qna 글쓰기
.qna-write {
    .write {
        .article-content {
            .btn-area {
                margin-top: 25px;
            }
        }
    }
}

//video list
.video-list {
    .section-content {
        > ul {
            margin-right: -10px;
            margin-left: -10px;
            > li {
                ~ li {
                    a {
                        margin-top: 20px;
                    }
                }
                &:nth-of-type(2) {
                    a {
                        margin-top: 0;
                    }
                }
                &:nth-of-type(2n + 1) {
                    a {
                        margin-right: -5px;
                    }
                }
                &:nth-of-type(2n + 2) {
                    a {
                        margin-left: -5px;
                    }
                }
                > a {
                    display: block;
                    text-decoration: none;
                    .details {
                        padding: 18px 10px 20px;
                        background-color: #fff;
                        .figure {
                            .img-responsive {
                                width: 100%;
                            }
                        }
                        .subject {
                            display: block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 13px;
                            color: #333;
                            font-weight: 400;
                            margin-bottom: 10px;
                        }
                        .date {
                            font-size: 12px;
                            color: #666;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        .paging {
            margin-top: 50px;
        }
    }
}

//video 뷰
.video-view {
    .view {
        .article-content {
            .btn-area {
                margin-top: 25px;
            }
        }
    }
}

// 서비스 센터
.cs-center {
    .section-content {
        border: 2px solid #b4b4b4;
        .cs-location {
            padding: 50px 10px 60px;
            .figure {
                margin-bottom: 65px;
                padding: 0 10px;
                .img-responsive {
                    margin: 0 auto;
                    width: 100%;
                    max-width: 300px;
                }
            }
            .details {
                max-width: 300px;
                margin: 0 auto;
                ul {
                    li {
                        ~ li {
                            margin-top: 45px;
                        }
                        dl {
                            dt {
                                font-size: 15px;
                                color: #666;
                                font-weight: 400;
                                margin-bottom: 20px;
                                padding-left: 20px;
                                background-image: url(/mobile/assets/images/customer/icon_addr.gif);
                                background-repeat: no-repeat;
                                background-size: 11px auto;
                                background-position: 0 50%;
                            }
                            dd {
                                font-size: 12px;
                                font-weight: 300;
                                color: #666;
                                line-height: 24px;
                                padding-left: 20px;
                                a {
                                    color: #666;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .call-number {
            font-size: 0;
            text-align: center;
            padding: 25px 0 20px;
            background-color: #f4f4f4;
            .figure {
                display: inline-block;
                    vertical-align: top;
                img {
                    width: 56px;
                }
            }
            .details {
                display: inline-block;
                text-align: left;
                padding-left: 22px;
                p {
                    font-size: 15px;
                    font-weight: 400;
                    color: #333;
                    line-height: 16px;
                    margin-bottom: 5px;
                    small {
                        display: block;
                        font-size: 13px;
                        color: #666;
                        opacity: .7;
                    }
                }
                a {
                    display: block;
                    font-size: 22px;
                    line-height: 22px;
                    font-weight: bold;
                    @include titi();
                    color: $rcolor;
                    text-decoration: none;
                }
            }
        }
    }
    .table-responsive {
        margin-top: 25px;
        .table {
            border-top: 0;
            thead {
                tr {
                    th {
                        padding: 20px;
                        color: #fff;
                        border: 0;
                        border-right: 1px solid #fff;
                        background-color: #b5b5b5;
                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 20px;
                        border-color: #e5e5e5;
                        background-color: #fff;
                        a {
                            color: #666;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

// 대리점 리스트
.agent-list {
    .list {
        padding: 0;
        background: none;
        .article-header {
            margin-bottom: 20px;
            .dropdown {
                margin-bottom: 25px;
                width: 100%;
                .dropdown-toggle {
                    position: relative;
                    width: 100%;
                    font-size: 13px;
                    color: #999;
                    text-align: left;
                    padding: 10px 20px;
                    box-shadow: none;
                    border: 1px solid #e3e3e3;
                    background-color: #fff;
                    &:hover, &:focus {
                        background-color: #fff !important;
                        background: none;
                    }
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 20px;
                        font-size: 18px;
                        line-height: 38px;
                        font-family: "fontello";
                        content: "\E801";
                    }
                }
                &.open {
                    .dropdown-toggle {
                        color: #999;
                        border-color: #e3e3e3;
                        &:after {
                            content: "\E802";
                        }
                    }
                }
                .dropdown-menu {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    margin-top: -1px;
                    border-radius: 0;
                    box-shadow: none;
                    border-color: #e3e3e3;
                    li {
                        border-bottom: 1px solid #e3e3e3;
                        &:last-child {
                            border-bottom: 0;
                        }
                        a {
                            font-size: 13px;
                            color: #999;
                            padding-top: 0;
                            padding-bottom: 0;
                            display: block;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
        .article-content {
            background-color: #fff;
            .board-list {
                > li {
                    .agent-info {
                        padding-left: 20px;
                        padding-right: 20px;
                        > ul {
                            font-size: 0;
                            li {
                                display: inline-block;
                                width: 35%;
                                border: 0;
                                line-height: 22px;
                                font-size: 12px;
                                &:nth-of-type(2n + 1) {
                                    width: 65%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .paging {
        margin-top: 35px;
    }
}

//대리점 뷰
.agent-view {
    .view {
        padding: 30px 10px 25px;
        h3 {
            font-size: 18px;
            color: #444;
            margin-bottom: 25px;
        }
        .table-wrap {
            .table {
                border-top: 2px solid $rcolor;
                tbody {
                    tr {
                        &:last-child {
                            th {
                                border-color: #6f848e;
                            }
                            td {
                                border-color: #6f848e;
                            }
                        }
                        th {
                            border: 0;
                            border-bottom: 1px solid #dbdbdb;
                            background-color: #f5f5f5;
                        }
                        td {
                            border: 0;
                            border-bottom: 1px solid #dbdbdb;
                            a {
                                color: #666;
                                text-decoration: none;
                            }
                            .map {
                                padding: 10px 0 20px;
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            margin-top: 30px;
        }
    }
}

//대리점 게시판
.agent-notice {
    .list {
        padding-left: 0;
        padding-right: 0;
        .article-header {
            padding-left: 10px;
            padding-right: 10px;
        }
        padding-bottom: 0;
    }
    .article-content {
        margin-top: 25px;
    }
    .paging {
        margin-top: 25px;
    }
}

// 연락처
.contact {
    .section-header {
        ~ .section-header {
            margin-top: 75px;
        }
    }
    .section-content {
        .table-responsive {
            .table {
                border-top: 0;
                thead {
                    tr {
                        th {
                            color: #fff;
                            padding: 20px;
                            border: 0;
                            border-right: 1px solid #e5e5e5;
                            background-color: #aeaeae;
                            &:last-child {
                                border-right: 0;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            padding: 20px;
                            border-color: #e5e5e5;
                            background-color: #fff;
                            &:first-child {
                                color: $rcolor;
                                font-weight: 400;
                            }
                            a {
                                display: block;
                                color: #666;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

//자료실 
.dataroom {
    background-color: #f2f2f2;
    .summary {
        font-size: 15px;
        color: #707070;
        font-weight: 300;
        margin: 30px 0 20px;
        .icon-search {
            margin-right: 5px;
        }
    }
    .table-wrap {
        margin-bottom: 30px;
        border: 3px solid #cfcfcf;
        tbody {
            tr {
                th {
                    font-size: 13px;
                    width: 100px;
                    padding: 20px 0 0 10px;
                    vertical-align: top;
                    border: 0;
                    border-bottom: 1px solid #e3e3e3;
                }
                td {
                    padding: 20px 20px 20px 0;
                    border: 0;
                    border-bottom: 1px solid #e3e3e3;
                    background-color: #fff;
                    ul {
                        font-size: 0;
                        li {
                            position: relative;
                            display: inline-block;
                            text-align: left;
                            line-height: 30px;
                            margin-left: 20px;
                            label {
                                position: relative;
                                font-size: 12px;
                                color: #707070;
                                font-weight: 300;
                                padding-left: 18px;
                                z-index: 1;
                            }
                            input[type=radio] {
                                position: absolute; 
                                visibility: hidden;
                                &:checked ~ .check { 
                                    border: 1px solid #e61937; 
                                }
                                &:checked ~ .check:before { 
                                    background: #e61937; 
                                }
                                &:checked ~ label { 
                                    color: #e61937;
                                }
                            }
                            .check {
                                position: absolute;
                                top: 10px;
                                left: 0;
                                width: 10px;
                                height: 10px;
                                border: 1px solid #707070;
                                border-radius: 50%;
                                cursor: pointer;
                                z-index: 0;
                                &:before {
                                    position: absolute;
                                    top: 2px;
                                    left: 2px;
                                    content: "";
                                    width: 4px;
                                    height: 4px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    th {
                        border-bottom: 0;
                    }
                    td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
    .list {
        padding: 0;
        padding-top: 30px;
        .article-header {
            padding: 0 10px;
            .dropdown {
                margin-bottom: 25px;
                width: 100%;
                .dropdown-toggle {
                    position: relative;
                    width: 100%;
                    font-size: 13px;
                    color: #999;
                    text-align: left;
                    padding: 10px 20px;
                    box-shadow: none;
                    border: 1px solid #e3e3e3;
                    background-color: #fff;
                    &:hover, &:focus {
                        background-color: #fff !important;
                        background: none;
                    }
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 20px;
                        font-size: 18px;
                        line-height: 38px;
                        font-family: "fontello";
                        content: "\E801";
                    }
                }
                &.open {
                    .dropdown-toggle {
                        color: #999;
                        border-color: #e3e3e3;
                        &:after {
                            content: "\E802";
                        }
                    }
                }
                .dropdown-menu {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    margin-top: -1px;
                    border-radius: 0;
                    box-shadow: none;
                    border-color: #e3e3e3;
                    li {
                        border-bottom: 1px solid #e3e3e3;
                        &:last-child {
                            border-bottom: 0;
                        }
                        a {
                            font-size: 13px;
                            color: #999;
                            padding-top: 0;
                            padding-bottom: 0;
                            display: block;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
        .board-list {
            li {
                a {
                    ul {
                        width: 100%;
                        font-size: 0;
                        > li {
                            display: inline-block;
                            font-size: 12px;
                            width: 50%;
                            border: 0;
                            dl {
                                dt {
                                    &.category {
                                        margin-left: 20px;
                                        width: 35px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .paging {
        margin-top: 40px;
    }
}

// 자료실 뷰
.dataroom-view {
    .view {
        .article-content {
            .btn-area {
                margin-top: 25px;
            }
        }
    }
}























