@import url("https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600,700");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
body {
  position: relative;
  width: 100%;
  font-size: 12px;
  color: #666;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 46px;
  background-color: #ececec; }

.container {
  padding-left: 10px;
  padding-right: 10px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.page-header {
  background-image: url(/mobile/assets/images/customer/page_header_bg.jpg); }

.board-list > li > a dl dt {
  width: 50px;
  margin-right: 0; }

.faq-list .list {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; }
  .faq-list .list .article-header {
    padding-left: 10px;
    padding-right: 10px; }
.faq-list .article-content {
  margin-top: 25px; }
.faq-list .paging {
  margin-top: 25px; }

.faq-view .view .article-content .btn-area {
  margin-top: 25px; }

.faq-write .write .article-content .btn-area {
  margin-top: 25px; }

.qna-list .list {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; }
  .qna-list .list .article-header {
    padding-left: 10px;
    padding-right: 10px; }
.qna-list .article-content {
  margin-top: 25px; }
.qna-list .paging {
  margin-top: 25px; }

.qna-view .view .article-content .btn-area {
  margin-top: 25px; }

.qna-write .write .article-content .btn-area {
  margin-top: 25px; }

.video-list .section-content > ul {
  margin-right: -10px;
  margin-left: -10px; }
  .video-list .section-content > ul > li ~ li a {
    margin-top: 20px; }
  .video-list .section-content > ul > li:nth-of-type(2) a {
    margin-top: 0; }
  .video-list .section-content > ul > li:nth-of-type(2n + 1) a {
    margin-right: -5px; }
  .video-list .section-content > ul > li:nth-of-type(2n + 2) a {
    margin-left: -5px; }
  .video-list .section-content > ul > li > a {
    display: block;
    text-decoration: none; }
    .video-list .section-content > ul > li > a .details {
      padding: 18px 10px 20px;
      background-color: #fff; }
      .video-list .section-content > ul > li > a .details .figure .img-responsive {
        width: 100%; }
      .video-list .section-content > ul > li > a .details .subject {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        color: #333;
        font-weight: 400;
        margin-bottom: 10px; }
      .video-list .section-content > ul > li > a .details .date {
        font-size: 12px;
        color: #666;
        font-weight: 300; }
.video-list .section-content .paging {
  margin-top: 50px; }

.video-view .view .article-content .btn-area {
  margin-top: 25px; }

.cs-center .section-content {
  border: 2px solid #b4b4b4; }
  .cs-center .section-content .cs-location {
    padding: 50px 10px 60px; }
    .cs-center .section-content .cs-location .figure {
      margin-bottom: 65px;
      padding: 0 10px; }
      .cs-center .section-content .cs-location .figure .img-responsive {
        margin: 0 auto;
        width: 100%;
        max-width: 300px; }
    .cs-center .section-content .cs-location .details {
      max-width: 300px;
      margin: 0 auto; }
      .cs-center .section-content .cs-location .details ul li ~ li {
        margin-top: 45px; }
      .cs-center .section-content .cs-location .details ul li dl dt {
        font-size: 15px;
        color: #666;
        font-weight: 400;
        margin-bottom: 20px;
        padding-left: 20px;
        background-image: url(/mobile/assets/images/customer/icon_addr.gif);
        background-repeat: no-repeat;
        background-size: 11px auto;
        background-position: 0 50%; }
      .cs-center .section-content .cs-location .details ul li dl dd {
        font-size: 12px;
        font-weight: 300;
        color: #666;
        line-height: 24px;
        padding-left: 20px; }
        .cs-center .section-content .cs-location .details ul li dl dd a {
          color: #666;
          text-decoration: none; }
  .cs-center .section-content .call-number {
    font-size: 0;
    text-align: center;
    padding: 25px 0 20px;
    background-color: #f4f4f4; }
    .cs-center .section-content .call-number .figure {
      display: inline-block;
      vertical-align: top; }
      .cs-center .section-content .call-number .figure img {
        width: 56px; }
    .cs-center .section-content .call-number .details {
      display: inline-block;
      text-align: left;
      padding-left: 22px; }
      .cs-center .section-content .call-number .details p {
        font-size: 15px;
        font-weight: 400;
        color: #333;
        line-height: 16px;
        margin-bottom: 5px; }
        .cs-center .section-content .call-number .details p small {
          display: block;
          font-size: 13px;
          color: #666;
          opacity: .7; }
      .cs-center .section-content .call-number .details a {
        display: block;
        font-size: 22px;
        line-height: 22px;
        font-weight: bold;
        font-family: 'Titillium Web', sans-serif;
        color: #e61937;
        text-decoration: none; }
.cs-center .table-responsive {
  margin-top: 25px; }
  .cs-center .table-responsive .table {
    border-top: 0; }
    .cs-center .table-responsive .table thead tr th {
      padding: 20px;
      color: #fff;
      border: 0;
      border-right: 1px solid #fff;
      background-color: #b5b5b5; }
      .cs-center .table-responsive .table thead tr th:last-child {
        border-right: 0; }
    .cs-center .table-responsive .table tbody tr td {
      padding: 20px;
      border-color: #e5e5e5;
      background-color: #fff; }
      .cs-center .table-responsive .table tbody tr td a {
        color: #666;
        text-decoration: none; }

.agent-list .list {
  padding: 0;
  background: none; }
  .agent-list .list .article-header {
    margin-bottom: 20px; }
    .agent-list .list .article-header .dropdown {
      margin-bottom: 25px;
      width: 100%; }
      .agent-list .list .article-header .dropdown .dropdown-toggle {
        position: relative;
        width: 100%;
        font-size: 13px;
        color: #999;
        text-align: left;
        padding: 10px 20px;
        box-shadow: none;
        border: 1px solid #e3e3e3;
        background-color: #fff; }
        .agent-list .list .article-header .dropdown .dropdown-toggle:hover, .agent-list .list .article-header .dropdown .dropdown-toggle:focus {
          background-color: #fff !important;
          background: none; }
        .agent-list .list .article-header .dropdown .dropdown-toggle:after {
          position: absolute;
          top: 0;
          right: 20px;
          font-size: 18px;
          line-height: 38px;
          font-family: "fontello";
          content: "\E801"; }
      .agent-list .list .article-header .dropdown.open .dropdown-toggle {
        color: #999;
        border-color: #e3e3e3; }
        .agent-list .list .article-header .dropdown.open .dropdown-toggle:after {
          content: "\E802"; }
      .agent-list .list .article-header .dropdown .dropdown-menu {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: -1px;
        border-radius: 0;
        box-shadow: none;
        border-color: #e3e3e3; }
        .agent-list .list .article-header .dropdown .dropdown-menu li {
          border-bottom: 1px solid #e3e3e3; }
          .agent-list .list .article-header .dropdown .dropdown-menu li:last-child {
            border-bottom: 0; }
          .agent-list .list .article-header .dropdown .dropdown-menu li a {
            font-size: 13px;
            color: #999;
            padding-top: 0;
            padding-bottom: 0;
            display: block;
            line-height: 40px; }
  .agent-list .list .article-content {
    background-color: #fff; }
    .agent-list .list .article-content .board-list > li .agent-info {
      padding-left: 20px;
      padding-right: 20px; }
      .agent-list .list .article-content .board-list > li .agent-info > ul {
        font-size: 0; }
        .agent-list .list .article-content .board-list > li .agent-info > ul li {
          display: inline-block;
          width: 35%;
          border: 0;
          line-height: 22px;
          font-size: 12px; }
          .agent-list .list .article-content .board-list > li .agent-info > ul li:nth-of-type(2n + 1) {
            width: 65%; }
.agent-list .paging {
  margin-top: 35px; }

.agent-view .view {
  padding: 30px 10px 25px; }
  .agent-view .view h3 {
    font-size: 18px;
    color: #444;
    margin-bottom: 25px; }
  .agent-view .view .table-wrap .table {
    border-top: 2px solid #e61937; }
    .agent-view .view .table-wrap .table tbody tr:last-child th {
      border-color: #6f848e; }
    .agent-view .view .table-wrap .table tbody tr:last-child td {
      border-color: #6f848e; }
    .agent-view .view .table-wrap .table tbody tr th {
      border: 0;
      border-bottom: 1px solid #dbdbdb;
      background-color: #f5f5f5; }
    .agent-view .view .table-wrap .table tbody tr td {
      border: 0;
      border-bottom: 1px solid #dbdbdb; }
      .agent-view .view .table-wrap .table tbody tr td a {
        color: #666;
        text-decoration: none; }
      .agent-view .view .table-wrap .table tbody tr td .map {
        padding: 10px 0 20px; }
  .agent-view .view .btn-area {
    margin-top: 30px; }

.agent-notice .list {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; }
  .agent-notice .list .article-header {
    padding-left: 10px;
    padding-right: 10px; }
.agent-notice .article-content {
  margin-top: 25px; }
.agent-notice .paging {
  margin-top: 25px; }

.contact .section-header ~ .section-header {
  margin-top: 75px; }
.contact .section-content .table-responsive .table {
  border-top: 0; }
  .contact .section-content .table-responsive .table thead tr th {
    color: #fff;
    padding: 20px;
    border: 0;
    border-right: 1px solid #e5e5e5;
    background-color: #aeaeae; }
    .contact .section-content .table-responsive .table thead tr th:last-child {
      border-right: 0; }
  .contact .section-content .table-responsive .table tbody tr td {
    padding: 20px;
    border-color: #e5e5e5;
    background-color: #fff; }
    .contact .section-content .table-responsive .table tbody tr td:first-child {
      color: #e61937;
      font-weight: 400; }
    .contact .section-content .table-responsive .table tbody tr td a {
      display: block;
      color: #666;
      text-decoration: none; }

.pw-confirm {
  margin: 40px 0 90px;
  padding-top: 40px;
  padding-bottom: 90px; }
  .pw-confirm .title {
    font-size: 27px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin: 50px 0 25px;
    font-family: 'Arial', sans-serif; }
  .pw-confirm .summary {
    font-size: 12px;
    color: #777;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px; }
  .pw-confirm .user-id {
    font-size: 13px;
    color: #666;
    font-weight: 300;
    display: block;
    line-height: 31px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 10px; }
  .pw-confirm .article-content .form-group {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 10px; }
    .pw-confirm .article-content .form-group .form-control {
      width: 100%;
      border-color: #eee;
      background-color: #eee; }
  .pw-confirm .article-content .btn-area {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 10px; }
    .pw-confirm .article-content .btn-area p .btn-lg {
      width: 100%; }

/*# sourceMappingURL=customer.css.map */
