@import url("https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600,700");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
body {
  position: relative;
  width: 100%;
  font-size: 12px;
  color: #666;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 46px;
  background-color: #ececec; }

.container {
  padding-left: 10px;
  padding-right: 10px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

body.nav-opened {
  overflow: hidden; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  z-index: 99999;
  vertical-align: top;
  border-bottom: 3px solid #e61937;
  background-color: #fff; }
  #header .logo {
    position: absolute;
    top: 12px;
    left: 10px; }
    #header .logo a img {
      display: block;
      width: 120px; }
  #header .btn-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 43px;
    height: 43px;
    display: block;
    border: 0;
    padding: 13px 8px;
    box-shadow: none;
    border-radius: 0;
    border-left: 1px solid #dfdfdf;
    background-color: #fff; }
    #header .btn-menu .bar {
      display: block;
      float: right;
      width: 18px;
      margin-bottom: 4px;
      border-top: 3px solid #333; }
      #header .btn-menu .bar:nth-of-type(2) {
        width: 25px; }
      #header .btn-menu .bar:nth-of-type(3) {
        margin-bottom: 0; }

#nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  padding-top: 157px;
  background-color: rgba(0, 0, 0, 0.6); }
  #nav .nav-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; }
  #nav .nav-header {
    background-image: url(/mobile/assets/images/main/nav_header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
    #nav .nav-header .login-form {
      padding: 20px 0 15px; }
      #nav .nav-header .login-form > ul {
        font-size: 0; }
        #nav .nav-header .login-form > ul li {
          display: inline-block;
          width: 33.33%;
          text-align: center;
          vertical-align: top; }
          #nav .nav-header .login-form > ul li a {
            width: 100%;
            display: inline-block;
            font-size: 12px;
            color: #fff;
            text-decoration: none; }
            #nav .nav-header .login-form > ul li a figure img {
              display: block;
              width: 33px;
              margin: 0 auto; }
            #nav .nav-header .login-form > ul li a figure figcaption {
              width: 100%;
              margin-top: 10px; }
    #nav .nav-header .logout-form {
      padding: 25px 0 25px; }
      #nav .nav-header .logout-form > ul {
        font-size: 0; }
        #nav .nav-header .logout-form > ul li {
          display: inline-block;
          width: 50%;
          text-align: center;
          vertical-align: top; }
          #nav .nav-header .logout-form > ul li a {
            display: inline-block;
            font-size: 12px;
            color: #fff;
            text-decoration: none; }
            #nav .nav-header .logout-form > ul li a figure img {
              display: block;
              width: 33px;
              margin: 0 auto; }
            #nav .nav-header .logout-form > ul li a figure figcaption {
              margin-top: 10px; }
  #nav .nav-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    transition: all .3s;
    z-index: 99999;
    overflow: auto;
    background-color: #fff; }
    #nav .nav-container .nav-head {
      position: relative;
      height: 46px;
      border-bottom: 3px solid #e61937; }
      #nav .nav-container .nav-head h1 {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0; }
        #nav .nav-container .nav-head h1 a {
          display: block; }
          #nav .nav-container .nav-head h1 a img {
            display: block;
            width: 130px; }
      #nav .nav-container .nav-head .btn-nav-close {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 43px;
        height: 43px;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        background-color: #fff;
        background-image: url(/mobile/assets/images/main/icon_close_btn.gif);
        background-repeat: no-repeat;
        background-size: 20px auto;
        background-position: 50% 50%; }
    #nav .nav-container .nav-content .gnb {
      width: 100%; }
      #nav .nav-container .nav-content .gnb > li > a {
        position: relative;
        display: block;
        width: 100%;
        line-height: 46px;
        height: 46px;
        font-size: 13px;
        color: #333;
        font-weight: 400;
        padding-left: 20px;
        text-decoration: none;
        border-bottom: 1px solid #dadada;
        font-family: "NanumBarunGothic", sans-serif; }
        #nav .nav-container .nav-content .gnb > li > a:after {
          position: absolute;
          top: 0;
          right: 10px;
          font-size: 18px;
          color: #e61937;
          content: "\E801";
          font-family: "fontello"; }
      #nav .nav-container .nav-content .gnb > li > ul {
        display: none;
        background-color: #f2f2f2; }
        #nav .nav-container .nav-content .gnb > li > ul > li > a {
          display: block;
          height: 46px;
          font-size: 12px;
          color: #ababab;
          font-weight: 400;
          line-height: 46px;
          padding-left: 30px;
          text-decoration: none;
          border-bottom: 1px solid #cfcfcf;
          font-family: "NanumBarunGothic", sans-serif; }
        #nav .nav-container .nav-content .gnb > li > ul > li:last-child a {
          border-bottom: 0; }
      #nav .nav-container .nav-content .gnb > li.active {
        border-bottom: 2px solid #e61937; }
        #nav .nav-container .nav-content .gnb > li.active > a {
          color: #fff;
          border-bottom: 0;
          background-color: #e61937; }
          #nav .nav-container .nav-content .gnb > li.active > a:after {
            color: #fff;
            content: "\E802"; }
        #nav .nav-container .nav-content .gnb > li.active > ul {
          display: block; }
  #nav.collapsed {
    right: -100%; }
    #nav.collapsed .nav-container {
      right: -300px; }

#foot-nav {
  background-color: #666; }
  #foot-nav ul {
    display: table;
    width: 100%; }
    #foot-nav ul li {
      display: table-cell;
      width: 1%;
      text-align: center;
      border-right: 1px solid #525252; }
      #foot-nav ul li:last-child {
        border-right: 0; }
      #foot-nav ul li a {
        display: block;
        font-size: 11px;
        color: #fff;
        font-weight: 300;
        line-height: 35px;
        text-decoration: none; }

#footer {
  text-align: center;
  padding: 25px 0;
  background-color: #333; }
  #footer ul {
    font-size: 0; }
    #footer ul li {
      display: inline-block;
      color: #fff;
      line-height: 18px; }
      #footer ul li:after {
        position: relative;
        top: -1px;
        font-size: 10px;
        color: #fff;
        content: "|";
        padding: 0 10px; }
      #footer ul li:last-child:after {
        content: "";
        padding: 0; }
      #footer ul li dl {
        display: inline-block; }
        #footer ul li dl dt {
          display: inline-block;
          font-size: 11px;
          font-weight: 300; }
          #footer ul li dl dt:after {
            content: ":";
            padding: 0 4px; }
        #footer ul li dl dd {
          display: inline-block;
          font-size: 11px;
          font-weight: 300; }
  #footer .copyright {
    font-size: 11px;
    line-height: 18px;
    color: #fff;
    font-weight: 300; }
    #footer .copyright a {
      color: #fff;
      text-decoration: none; }

/*# sourceMappingURL=default.css.map */
