@import url("https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600,700");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
body {
  position: relative;
  width: 100%;
  font-size: 12px;
  color: #666;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 46px;
  background-color: #ececec; }

.container {
  padding-left: 10px;
  padding-right: 10px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.page-header {
  background-image: url(/mobile/assets/images/member/page_header_bg.jpg); }

.login {
  margin: 40px 0 90px;
  padding-top: 45px;
  padding-bottom: 90px; }
  .login .article-header {
    text-align: center;
    margin-bottom: 40px; }
    .login .article-header .title {
      font-size: 27px;
      font-weight: 400;
      color: #333;
      font-family: 'Arial', sans-serif; }
  .login .article-content .form-group {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 10px; }
    .login .article-content .form-group .form-control {
      width: 100%;
      border-color: #eee;
      background-color: #eee; }
  .login .article-content .btn-area {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 10px; }
    .login .article-content .btn-area p .btn-lg {
      width: 100%; }
  .login .article-content .find {
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto;
    vertical-align: top; }
    .login .article-content .find label {
      float: left;
      line-height: 26px;
      font-size: 12px;
      color: #777;
      font-weight: 300; }
      .login .article-content .find label input {
        position: relative;
        top: 2px;
        margin-right: 10px; }
    .login .article-content .find ul {
      float: right;
      font-size: 0; }
      .login .article-content .find ul li {
        display: inline-block;
        line-height: 26px; }
        .login .article-content .find ul li a {
          display: inline-block;
          color: #777;
          font-weight: 300;
          font-size: 12px;
          text-decoration: none; }
        .login .article-content .find ul li:after {
          position: relative;
          top: -2px;
          display: inline-block;
          content: "|";
          font-size: 10px;
          color: #ccc;
          padding: 0 10px; }
        .login .article-content .find ul li:last-child:after {
          content: "";
          padding: 0; }

.agree .section-content {
  padding: 20px 10px 40px;
  background-color: #fff; }
  .agree .section-content .terms {
    display: block;
    max-width: 300px;
    height: 265px;
    font-size: 13px;
    color: #666;
    font-weight: 300;
    line-height: 24px;
    margin: 0 auto;
    padding: 25px 20px;
    overflow-y: scroll;
    border: 1px solid #dfdfdf; }
  .agree .section-content .radio-check {
    max-width: 300px;
    font-size: 13px;
    font-weight: 300;
    color: #666;
    margin: 0 auto;
    margin-top: 10px; }
    .agree .section-content .radio-check label {
      font-size: 13px;
      font-weight: 300;
      color: #666;
      margin-top: 10px;
      display: inline-block; }
      .agree .section-content .radio-check label:nth-of-type(1) {
        margin-right: 20px; }
      .agree .section-content .radio-check label input {
        position: relative;
        top: 2px;
        margin-right: 5px; }
  .agree .section-content .btn-area {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 30px; }
    .agree .section-content .btn-area p .btn-lg {
      width: 100%; }

.essential {
  font-size: 12px;
  color: #e61937;
  text-align: right;
  margin-bottom: 10px; }
  .essential:before {
    color: #e61937;
    content: "*"; }

.join .section-header:nth-of-type(2) {
  margin-top: 60px; }
.join .section-content {
  padding: 30px 10px 40px;
  background-color: #fff; }
  .join .section-content .table-wrap .table tbody th {
    width: 100px; }
    .join .section-content .table-wrap .table tbody th.top {
      padding-top: 20px;
      vertical-align: top; }
  .join .section-content .table-wrap .table tbody td .form-control {
    height: 31px;
    border-color: #d6d6d6;
    border-radius: 3px;
    padding: 4px 12px; }
  .join .section-content .table-wrap .table tbody td .note {
    font-size: 12px;
    color: #999; }
    .join .section-content .table-wrap .table tbody td .note:before {
      content: "("; }
    .join .section-content .table-wrap .table tbody td .note:after {
      content: ")"; }
  .join .section-content .table-wrap .table tbody td .btn-overlap {
    margin-top: 4px; }
    .join .section-content .table-wrap .table tbody td .btn-overlap .btn-primary {
      display: block;
      max-width: 150px;
      height: 31px;
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 31px;
      text-decoration: none;
      border-radius: 3px;
      background-color: #acacac; }
  .join .section-content .table-wrap .table tbody span {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #999; }
.join .btn-area {
  margin-top: 40px; }

.find-list {
  max-width: 300px;
  font-size: 0;
  margin: 0 auto; }
  .find-list li {
    display: inline-block;
    width: 50%; }
    .find-list li a {
      display: block;
      font-size: 13px;
      color: #999;
      width: 100%;
      height: 45px;
      line-height: 43px;
      text-align: center;
      text-decoration: none;
      border: 1px solid #e3e3e3; }
    .find-list li.active a {
      color: #fff;
      border-color: #e61937;
      background-color: #e61937; }

.common-find {
  margin: 40px 0 90px;
  padding-top: 40px;
  padding-bottom: 90px; }
  .common-find .title {
    font-size: 27px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin: 50px 0 25px;
    font-family: 'Arial', sans-serif; }
  .common-find .summary {
    font-size: 12px;
    color: #777;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px; }
  .common-find .article-content .form-group {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 10px; }
    .common-find .article-content .form-group .form-control {
      width: 100%;
      border-color: #eee;
      background-color: #eee; }
  .common-find .article-content .btn-area {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 10px; }
    .common-find .article-content .btn-area p ~ p {
      margin-top: 10px; }
    .common-find .article-content .btn-area p .btn-lg {
      width: 100%; }
    .common-find .article-content .btn-area p .btn-white {
      color: #333;
      line-height: 38px;
      border: 1px solid #d2d2d2;
      background-color: #fff; }

/*# sourceMappingURL=member.css.map */
