@import url("https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600,700");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  position: relative;
  min-width: 1200px;
  font-size: 12px;
  color: #5b5b5b;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 140px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  min-width: 1200px !important; }

.company .section-content {
  padding: 0;
  background: none; }

.introduce .company-intro .article-content {
  text-align: center;
  padding-top: 550px;
  background-image: url(/assets/images/company/introduce_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0; }
  .introduce .company-intro .article-content h4 {
    font-size: 30px;
    color: #e9193a;
    margin-bottom: 35px; }
  .introduce .company-intro .article-content > p {
    font-size: 16px;
    color: #555;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 65px; }
  .introduce .company-intro .article-content .intro-list {
    height: 498px;
    background-image: url(/assets/images/company/company_intro_bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    .introduce .company-intro .article-content .intro-list ol {
      font-size: 0;
      text-align: center;
      padding-top: 35px; }
      .introduce .company-intro .article-content .intro-list ol li {
        position: relative;
        display: inline-block;
        width: 227px;
        height: 227px;
        font-size: 14px;
        color: #7b7b7b;
        vertical-align: top;
        z-index: 1;
        padding: 63px 0;
        margin-left: -18.5px;
        margin-right: -18.5px;
        border-radius: 50%;
        border: 10px solid #7c7c7c; }
        .introduce .company-intro .article-content .intro-list ol li:first-child {
          margin-left: 0; }
        .introduce .company-intro .article-content .intro-list ol li:last-child {
          margin-right: 0; }
        .introduce .company-intro .article-content .intro-list ol li:nth-of-type(odd) {
          color: #e92d4b;
          border-color: #e92d4b; }
        .introduce .company-intro .article-content .intro-list ol li:nth-of-type(2n + 1) {
          z-index: 2;
          margin-top: 105px; }
        .introduce .company-intro .article-content .intro-list ol li .num {
          display: block;
          font-size: 20px;
          font-weight: 600;
          font-style: normal;
          font-family: 'Titillium Web', sans-serif; }
        .introduce .company-intro .article-content .intro-list ol li p {
          margin-top: 5px;
          font-size: 17px;
          font-weight: 500;
          line-height: 24px; }
          .introduce .company-intro .article-content .intro-list ol li p small {
            font-size: 13px;
            line-height: 20px; }
.introduce .service-area .article-content {
  text-align: center; }
  .introduce .service-area .article-content > p {
    font-size: 16px;
    color: #666;
    line-height: 24px;
    font-weight: 400; }
  .introduce .service-area .article-content .circle-list {
    font-size: 0;
    text-align: center;
    margin-top: 80px; }
    .introduce .service-area .article-content .circle-list > li {
      display: inline-block;
      width: 20%;
      vertical-align: top; }
      .introduce .service-area .article-content .circle-list > li .circle {
        display: inline-block;
        width: 200px;
        height: 200px;
        padding: 45px 0;
        border-radius: 50%; }
        .introduce .service-area .article-content .circle-list > li .circle.gray-bg {
          background-color: #939393; }
        .introduce .service-area .article-content .circle-list > li .circle.red-bg {
          background-color: #e61937; }
        .introduce .service-area .article-content .circle-list > li .circle .figure {
          height: 51px;
          line-height: 51px;
          vertical-align: middle; }
          .introduce .service-area .article-content .circle-list > li .circle .figure img {
            display: inline-block; }
        .introduce .service-area .article-content .circle-list > li .circle .figcaption {
          font-size: 14px;
          color: #fff;
          line-height: 18px;
          margin-top: 20px; }

.greeting .section-content figure {
  text-align: right; }
  .greeting .section-content figure img {
    display: inline-block; }
.greeting .section-content .greeting-txt {
  width: 700px;
  font-size: 16px;
  color: #666;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 60px; }
.greeting .section-content strong {
  font-size: 20px;
  color: #333;
  line-height: 30px;
  font-weight: 500; }
.greeting .section-content h4 {
  margin-top: 50px;
  line-height: 48px; }
  .greeting .section-content h4 small {
    font-size: 16px;
    color: #666;
    font-weight: 300;
    margin-right: 27px; }

.ci-info .btn {
  width: 165px;
  height: 38px;
  font-size: 14px;
  color: #fff;
  line-height: 36px; }
  .ci-info .btn .icon-download {
    margin-right: 10px; }
    .ci-info .btn .icon-download:before {
      margin: 0; }
  .ci-info .btn:hover, .ci-info .btn:focus {
    opacity: .7; }
.ci-info .summary {
  font-size: 16px;
  color: #666;
  line-height: 26px;
  font-weight: 300;
  margin-top: 50px; }
.ci-info .section-content article .article-header {
  padding-top: 120px; }
.ci-info .section-content .square-bg {
  position: relative;
  width: 100%;
  height: 292px;
  text-align: center;
  border: 1px solid #ececed;
  background-image: url(/assets/images/company/ci_bg.gif); }
  .ci-info .section-content .square-bg .btn-ci {
    position: absolute;
    top: 20px;
    right: 20px; }
    .ci-info .section-content .square-bg .btn-ci .btn-red {
      background-color: #e61937; }
    .ci-info .section-content .square-bg .btn-ci .btn-gray {
      background-color: #878787; }
  .ci-info .section-content .square-bg h6 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: #222;
    font-weight: 400; }
  .ci-info .section-content .square-bg.typical {
    margin-bottom: 30px; }
  .ci-info .section-content .square-bg figure {
    line-height: 292px; }
    .ci-info .section-content .square-bg figure img {
      display: inline-block; }
.ci-info .section-content .colo-box {
  position: relative;
  width: 100%;
  height: 254px;
  text-align: center;
  border: 1px solid #bfbfbf;
  border-radius: 20px; }
  .ci-info .section-content .colo-box .color-title {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -65px;
    margin-top: -9.5px;
    width: 130px;
    font-size: 18px;
    color: #333;
    text-align: center;
    background-color: #f2f3f5; }
  .ci-info .section-content .colo-box.main-color {
    padding: 29.5px 0; }
    .ci-info .section-content .colo-box.main-color > ul {
      font-size: 0; }
      .ci-info .section-content .colo-box.main-color > ul > li {
        position: relative;
        width: 195px;
        height: 195px;
        display: inline-block;
        border-radius: 50%; }
        .ci-info .section-content .colo-box.main-color > ul > li:first-child {
          z-index: 0;
          background-color: #e61937; }
        .ci-info .section-content .colo-box.main-color > ul > li:last-child {
          z-index: 1;
          margin-left: -17px;
          background-color: #878787; }
        .ci-info .section-content .colo-box.main-color > ul > li .details {
          display: table;
          width: 100%; }
          .ci-info .section-content .colo-box.main-color > ul > li .details dl {
            display: table-cell;
            height: 195px;
            text-align: center;
            vertical-align: middle; }
            .ci-info .section-content .colo-box.main-color > ul > li .details dl dt {
              font-size: 14px;
              color: #fff;
              line-height: 26px;
              font-weight: 400; }
            .ci-info .section-content .colo-box.main-color > ul > li .details dl dd {
              font-size: 12px;
              color: #fff;
              line-height: 18px;
              font-weight: 300;
              opacity: .8;
              margin-top: 5px; }
  .ci-info .section-content .colo-box, .ci-info .section-content .colo-box sub-color {
    padding: 53px 0; }
    .ci-info .section-content .colo-box > ul, .ci-info .section-content .colo-box sub-color > ul {
      font-size: 0; }
      .ci-info .section-content .colo-box > ul > li, .ci-info .section-content .colo-box sub-color > ul > li {
        position: relative;
        width: 148px;
        height: 148px;
        display: inline-block;
        border-radius: 50%;
        margin-left: -23px; }
        .ci-info .section-content .colo-box > ul > li:nth-of-type(1), .ci-info .section-content .colo-box sub-color > ul > li:nth-of-type(1) {
          z-index: 1;
          margin-left: 0;
          background-color: #7b7b7b; }
        .ci-info .section-content .colo-box > ul > li:nth-of-type(2), .ci-info .section-content .colo-box sub-color > ul > li:nth-of-type(2) {
          z-index: 2;
          background-color: #a8996e; }
        .ci-info .section-content .colo-box > ul > li:nth-of-type(3), .ci-info .section-content .colo-box sub-color > ul > li:nth-of-type(3) {
          z-index: 3;
          background-color: #a7a9ac; }
        .ci-info .section-content .colo-box > ul > li .details, .ci-info .section-content .colo-box sub-color > ul > li .details {
          display: table;
          width: 100%;
          text-align: center; }
          .ci-info .section-content .colo-box > ul > li .details dl, .ci-info .section-content .colo-box sub-color > ul > li .details dl {
            display: table-cell;
            vertical-align: middle;
            height: 148px; }
            .ci-info .section-content .colo-box > ul > li .details dl dt, .ci-info .section-content .colo-box sub-color > ul > li .details dl dt {
              font-size: 16px;
              color: #fff;
              line-height: 26px;
              font-weight: 400; }
            .ci-info .section-content .colo-box > ul > li .details dl dd, .ci-info .section-content .colo-box sub-color > ul > li .details dl dd {
              font-size: 12px;
              color: #fff;
              line-height: 26pxp;
              opacity: .7;
              font-weight: 300;
              margin-top: 10px; }

.history .section-content {
  padding: 0;
  background: none; }
  .history .section-content .content-top {
    width: 100%;
    height: 472px;
    padding: 55px 75px;
    background-image: url(/assets/images/company/history_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0; }
    .history .section-content .content-top h4 {
      position: relative;
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      line-height: 30px; }
  .history .section-content > ol {
    margin-top: 60px; }
    .history .section-content > ol > li > dl {
      display: table; }
      .history .section-content > ol > li > dl dt {
        display: table-cell;
        width: 252px;
        height: 135px;
        font-size: 26px;
        color: #555;
        font-weight: bold;
        padding-top: 20px;
        font-family: 'Titillium Web', sans-serif;
        border-top: 3px solid #555; }
      .history .section-content > ol > li > dl dd {
        display: table-cell;
        width: 918px;
        font-size: 15px;
        color: #555;
        font-weight: 300;
        padding-left: 60px;
        border-top: 1px solid #cccdce;
        background-repeat: no-repeat;
        background-position: 100% 50%; }
        .history .section-content > ol > li > dl dd > p {
          display: block;
          line-height: 30px; }
          .history .section-content > ol > li > dl dd > p:before {
            content: "\E80B";
            font-family: "fontello";
            margin-right: 5px; }

.location .section-content .nav-tabs {
  font-size: 0;
  border: 0; }
  .location .section-content .nav-tabs > li {
    width: 50%;
    text-align: center; }
    .location .section-content .nav-tabs > li > a {
      display: block;
      font-size: 14px;
      color: #999;
      margin: 0;
      padding: 12px 0;
      border: 1px solid #e3e1e1;
      border-radius: 0;
      background-color: #fff;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .location .section-content .nav-tabs > li > a:focus {
        text-decoration: none; }
      .location .section-content .nav-tabs > li > a:hover {
        text-decoration: none;
        color: #fff;
        opacity: .7;
        border-color: #e61937;
        background-color: #e61937; }
    .location .section-content .nav-tabs > li.active a {
      color: #fff;
      border-color: #e61937;
      background-color: #e61937; }
      .location .section-content .nav-tabs > li.active a:hover, .location .section-content .nav-tabs > li.active a:focus {
        opacity: 1; }
.location .section-content .tab-content {
  clear: both;
  padding-top: 60px; }
  .location .section-content .tab-content .tab-pane .map {
    margin-bottom: 50px; }
    .location .section-content .tab-content .tab-pane .map img {
      width: 100%; }
  .location .section-content .tab-content .tab-pane .table-wrap .table tbody tr th {
    font-size: 16px;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
    padding-left: 40px;
    border: 1px solid #dddedf;
    border-left: 0; }
  .location .section-content .tab-content .tab-pane .table-wrap .table tbody tr td {
    font-size: 14px;
    color: #666;
    vertical-align: middle;
    padding: 20px 0 20px 60px;
    border-top: 1px solid #dddedf;
    border-bottom: 1px solid #dddedf; }
    .location .section-content .tab-content .tab-pane .table-wrap .table tbody tr td i {
      font-size: 14px;
      margin-right: 10px; }

.partner .section-content {
  padding-top: 470px;
  background-image: url(/assets/images/company/partner_content_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0; }
  .partner .section-content h4 {
    font-size: 22px;
    color: #666;
    font-weight: 400;
    margin-bottom: 35px; }
  .partner .section-content .summary {
    font-size: 15px;
    color: #666;
    line-height: 26px;
    font-weight: 300; }
  .partner .section-content .btn-area {
    margin-top: 70px;
    text-align: right; }
    .partner .section-content .btn-area p .btn-red {
      width: 218px;
      height: 38px;
      font-size: 14px;
      color: #fff;
      border-radius: 0;
      line-height: 36px; }
      .partner .section-content .btn-area p .btn-red .icon-download {
        font-size: 14px;
        margin-right: 10px; }
  .partner .section-content > ul {
    margin-top: 15px;
    text-align: right; }
    .partner .section-content > ul li {
      font-size: 14px;
      color: #666;
      line-height: 24px;
      font-weight: 400; }

.global-partner article h4 {
  font-size: 17px;
  color: #666;
  font-weight: 500;
  margin-bottom: 25px; }
  .global-partner article h4:before {
    content: "";
    display: inline-block;
    padding-right: 5px;
    height: 15px;
    border-left: 2px solid #e61937; }
.global-partner article .table-wrap .table-type2 thead tr th {
  font-size: 16px;
  padding: 18px 0;
  background-color: #b5b5b5; }
.global-partner article .table-wrap .table-type2 tbody tr td {
  height: 54px;
  font-size: 14px;
  color: #666;
  line-height: 18px;
  font-weight: 300;
  padding: 12px 0; }
.global-partner article.partners .article-content ul li .figure {
  width: 100%;
  height: 106px;
  line-height: 104px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff; }
  .global-partner article.partners .article-content ul li .figure img {
    display: inline-block; }
.global-partner article.partners .article-content ul li .details {
  font-size: 15px;
  color: #555;
  text-align: center;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 50px;
  font-family: 'Titillium Web', sans-serif; }
.global-partner article.partners .article-content ul li:nth-of-type(5) .details {
  margin-bottom: 0; }
.global-partner article.partners .article-content ul li:nth-of-type(6) .details {
  margin-bottom: 0; }
.global-partner article.partners .article-content ul li:nth-of-type(7) .details {
  margin-bottom: 0; }
.global-partner article.partners .article-content ul li:nth-of-type(8) .details {
  margin-bottom: 0; }
.global-partner article.distributors .article-content .global-map {
  text-align: center;
  padding: 65px 0 35px;
  margin-bottom: 55px;
  border: 2px solid #b4b4b4;
  background-color: #fff; }
  .global-partner article.distributors .article-content .global-map img {
    display: inline-block; }
.global-partner article.rsa-contact ul {
  margin-top: 20px; }
  .global-partner article.rsa-contact ul li {
    font-size: 15px;
    color: #666;
    line-height: 24px;
    font-weight: 300; }

/*# sourceMappingURL=company.css.map */
