@import 'common';

.company {
    .section-content {
        padding: 0;
        background: none;
    }
}

// 회사소개
.introduce{
    .company-intro {
        .article-content {
            text-align: center;
            padding-top: 550px;
            background-image: url(/assets/images/company/introduce_bg.jpg);
            background-repeat: no-repeat;
            background-position: 50% 0;
            h4 {
                font-size: 30px;
                color: #e9193a;
                margin-bottom: 35px;
            }
            > p {
                font-size: 16px;
                color: #555;
                line-height: 28px;
                font-weight: 400;
                margin-bottom: 65px;
            }
            .intro-list {
                height: 498px;
                background-image: url(/assets/images/company/company_intro_bg.png);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                .figure {
                    padding-top: 35px;
                    img {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .service-area {
        .article-content {
            > p {
                font-size: 16px;
                color: #666;
                line-height: 24px;
                font-weight: 400;
                > b {
                    font-weight: 500;
                    color: #e61937;
                }
            }
            .circle-list {
                font-size: 0;
                text-align: center;
                margin-top: 80px;
                > li {
                    display: inline-block;
                    width: 20%;
                    vertical-align: top;
                    .circle {
                        display: inline-block;
                        width: 200px;
                        height: 200px;
                        padding: 45px 0;
                        border-radius: 50%;
                        &.gray-bg {
                            background-color: #939393;
                        }
                        &.red-bg {
                            background-color: #e61937;
                        }
                        .figure {
                            height: 51px;
                            line-height: 51px;
                            vertical-align: middle;
                            img {
                                display: inline-block;
                            }
                        }
                        .figcaption {
                            font-size: 14px;
                            color: #fff;
                            line-height: 18px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

// 인사말
.greeting {
    .section-content {
        figure {
            text-align: right;
            img {
                display: inline-block;
            }
        }
        .greeting-txt {
            font-size: 16px;
            color: #666;
            font-weight: 300;
            line-height: 26px;
            margin-bottom: 60px;
        }
        strong {
            font-size: 20px;
            color: #333;
            line-height: 30px;
            font-weight: 500;
        }
        h4 {
            margin-top: 50px;
            line-height: 48px;
            small {
                font-size: 16px;
                color: #666;
                font-weight: 300;
                margin-right: 27px;
            }
        }
    }
}

// ci
.ci-info {
    .btn {
        width: 165px;
        height: 38px;
        font-size: 14px;
        color: #fff;
        line-height: 36px;
        .icon-download {
            margin-right: 10px;
            &:before {
                margin: 0;
            }
        }
        &:hover, &:focus {
            opacity: .7;
        }
    }
    .summary {
        font-size: 16px;
        color: #666;
        line-height: 26px;
        font-weight: 300;
        margin-top: 50px;
    }
    .section-content {
        article {
            .article-header {
                padding-top: 120px;
            }
        }
        .square-bg {
            position: relative;
            width: 100%;
            height: 292px;
            text-align: center;
            border: 1px solid #ececed;
            background-image: url(/assets/images/company/ci_bg.gif);
            .btn-ci {
                position: absolute;
                top: 20px;
                right: 20px;
                .btn-red {
                    background-color: #e61937;
                }
                .btn-gray {
                    background-color: #878787;
                }
            }
            h6 {
                position: absolute;
                top: 20px;
                left: 20px;
                font-size: 18px;
                color: #222;
                font-weight: 400;
            }
            &.typical {
                margin-bottom: 30px;
            }
            figure {
                line-height: 292px;
                img {
                    display: inline-block;
                }
            }
        }
        .colo-box {
            position: relative;
            width: 100%;
            height: 254px;
            text-align: center;
            border: 1px solid #bfbfbf;
            border-radius: 20px;
            .color-title {
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -65px;
                margin-top: -9.5px;
                width: 130px;
                font-size: 18px;
                color: #333;
                text-align: center;
                background-color: #f2f3f5;
            }
            &.main-color {
                padding: 29.5px 0;
                > ul {
                    font-size: 0;
                    > li {
                        position: relative;
                        width: 195px;
                        height: 195px;
                        display: inline-block;
                        border-radius: 50%;
                        &:first-child {
                            z-index: 0;
                            background-color: #e61937;
                        }
                        &:last-child {
                            z-index: 1;
                            margin-left: -17px;
                            background-color: #878787;
                        }
                        .details {
                            display: table;
                            width: 100%;
                            dl {
                                display: table-cell;
                                height: 195px;
                                text-align: center;
                                vertical-align: middle;
                                dt {
                                    font-size: 14px;
                                    color: #fff;
                                    line-height: 26px;
                                    font-weight: 400;
                                }
                                dd {
                                    font-size: 12px;
                                    color: #fff;
                                    line-height: 18px;
                                    font-weight: 300;
                                    opacity: .8;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
            &,sub-color {
                padding: 53px 0;
                > ul {
                    font-size: 0;
                    > li {
                        position: relative;
                        width: 148px;
                        height: 148px;
                        display: inline-block;
                        border-radius: 50%;
                        margin-left: -23px;
                        &:nth-of-type(1) {
                            z-index: 1;
                            margin-left: 0;
                            background-color: #7b7b7b;
                        }
                        &:nth-of-type(2) {
                            z-index: 2;
                            background-color: #a8996e;
                        }
                        &:nth-of-type(3) {
                            z-index: 3;
                            background-color: #a7a9ac;
                        }
                        .details {
                            display: table;
                            width: 100%;
                            text-align: center;
                            dl {
                                display: table-cell;
                                vertical-align: middle;
                                height: 148px;
                                dt {
                                    font-size: 16px;
                                    color: #fff;
                                    line-height: 26px;
                                    font-weight: 400;
                                }
                                dd {
                                    font-size: 12px;
                                    color: #fff;
                                    line-height: 26pxp;
                                    opacity: .7;
                                    font-weight: 300;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 연혁
.history {
    .section-content {
        padding: 0;
        background: none;
        .content-top {
            position: relative;
            width: 100%;
            height: 472px;
            background-image: url(/assets/images/company/history_bg.jpg);
            background-repeat: no-repeat;
            background-position: 0 0;
            h4 {
                position: absolute;
                bottom: 62px;
                right: 70px;
                font-size: 24px;
                text-align: right;
                color: #fff;
                font-weight: 500;
                line-height: 42px;
                &:before {
                    position: relative;
                    top: 2px;
                    display: inline-block;
                    content: "";
                    height: 23px;
                    margin-right: 15px;
                    border-left: 2px solid #de1d3b;
                }
            }
        }
        > ol {
            margin-top: 90px;
            > li {
                > dl {
                    display: table;
                    dt {
                        display: table-cell;
                        width: 252px;
                        font-size: 26px;
                        color: #555;
                        font-weight: bold;
                        padding-top: 25px;
                        @include titi();
                        border-top: 3px solid #555;
                    }
                    dd {
                        display: table-cell;
                        width: 918px;
                        font-size: 15px;
                        color: #555;
                        font-weight: 300;
                        padding-left: 60px;
                        padding-bottom: 100px;
                        border-top: 1px solid #cccdce;
                        > p {
                            display: block;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
}
















































