@import 'common';

// 연구개발 공통 
.customer {
    .page-header {
        background-image: url(/assets/images/customer/customer_header_bg.jpg);
    }
    .sub-lnb {
        .lnb-list {
            li {
                width: 12.5%;
            }
        }
    }
}

// FAQ
// list
.faq-list {
    .section-content {
        .search-form {
            margin-bottom: 30px;
        }
        .btn-area {
            margin-top: 30px;
            text-align: right;
        }
        .paging {
            margin-top: 40px;
        }
    }
}
// view
.faq-view {
    .section-content {
        .btn-area {
            margin-top: 30px;
            text-align: right;
        }
    }
}

// Q&A
// list
.qna-list {
    .section-content {
        .search-form {
            margin-bottom: 30px;
        }
        .btn-area {
            margin-top: 30px;
            text-align: right;
        }
        .paging {
            margin-top: 40px;
        }
    }
}
//view
.qna-view {
    .section-content {
        .btn-area {
            margin-top: 30px;
            text-align: right;
        }
    }
}
// write
.qna-write {
    .section-content {
        .table-wrap {
            .table.type-write {
                tbody {
                    tr {
                        th {
                            padding-left: 15px;
                            &.u-content {
                                vertical-align: top;
                                padding-top: 20px;
                            }
                        }
                        td {
                            .form-group {
                                .form-control {
                                    width: 142px;
                                    height: 35px;
                                }
                            }
                            &.e-mail {
                                .form-group {
                                    .form-control {
                                        width: 300px;
                                    }
                                }
                            }
                            &.subject {
                                .form-group {
                                    .form-control {
                                        width: 792px;
                                    }
                                }
                            }
                            &.u-content {
                                padding-top: 20px;
                                padding-bottom: 20px;
                                .form-group {
                                    textarea {
                                        width: 792px;
                                        height: 162px;
                                    }
                                }
                            }
                            &.attach {
                                .form-group {
                                    display: inline-block;
                                    .form-control {
                                        width: 322px;
                                    }
                                }
                                label {
                                    display: inline-block;
                                    width: 83px;
                                    height: 35px;
                                    font-size: 14px;
                                    color: #fff;
                                    vertical-align: top;
                                    line-height: 35px;
                                    text-align: center;
                                    margin-left: 10px;
                                    cursor: pointer;
                                    border-radius: 2px;
                                    background-color: #acacac;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            margin-top: 30px;
            text-align: right;
        }
    }
}

// 동영상
// list
.video-list {
    .section-content {
        padding: 0;
        background: none;
        .search-form {
            margin-bottom: 30px;
        }
        > ul {
            > li {
                &:nth-of-type(4n + 1) {
                    clear: both;
                }
                > a {
                    display: block;
                    margin-bottom: 65px;
                    &:hover, &:focus {
                        text-decoration: none;
                        .details {
                            background-color: rgba(230, 25, 55, 1);
                            .video-title {
                                color: #fff;
                            }
                            .date {
                                color: #fff;
                            }
                        }
                    }
                    .figure {
                        img {
                            width: 270px;
                            height: 270px;
                        }
                    }
                    .details {
                        @include trans();
                        padding: 20px 30px;
                        .video-title {
                            font-size: 15px;
                            color: #333;
                            line-height: 22px;
                        }
                        .date {
                            display: block;
                            font-size: 13px;
                            color: #777;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
        .paging {
            margin-top: 20px;
        }
    }
}
// 뷰
.video-view {
    .section-content {
        .btn-area {
            margin-top: 30px;
            text-align: right;
        }
    } 
}

// 서비스 센터
.cs-center {
    .section-content {
        padding: 0;
        background: none;
        .after-center {
            overflow: hidden;
            width: 100%;
            height: 410px;
            border: 5px solid #b4b4b4;
            background-color: #fff;
            > div {
                float: left;
                width: 50%;
                height: 400px;
                &.center-map {
                    position: relative;
                    background-image: url(/assets/images/customer/cs_center_map.png);
                    background-repeat: no-repeat;
                    background-position: 240px 50%;
                    > div {
                        position: absolute;
                        > h4 {
                            font-size: 16px;
                            color: #e61937;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }
                        .area-list {
                            overflow: hidden;
                            > li {
                                float: left;
                                font-size: 13px;
                                color: #666;
                                font-weight: 300;
                                line-height: 18px;
                                &:nth-of-type(5) {
                                    clear: both;
                                }
                                &:before {
                                    content: "/";
                                }
                                &:first-child:before {
                                    content: "(";
                                }
                                &:last-child:after {
                                    content: ")";
                                }
                            }
                        }
                        &.jungbu {
                            top: 106px;
                            left: 153px;
                        }
                        &.nambu {
                            right: 20px;
                            bottom: 117px;
                        }
                    }
                }
                &.center-addr {
                    padding: 60px 0;
                    padding-left: 70px;
                    > div {
                        display: block;
                        padding-left: 28px;
                        background-image: url(/assets/images/customer/area_bg.png);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        > h4 {
                            font-size: 16px;
                            color: #666;
                            font-weight: 500;
                            padding-top: 3px;
                            margin-bottom: 15px;
                        }
                        > address {
                            font-size: 14px;
                            color: #666;
                            font-weight: 300;
                            line-height: 24px;
                        }
                        > dl {
                            overflow: hidden;
                            clear: both;
                            dt {
                                float: left;
                                clear: both;
                                font-size: 14px;
                                color: #666;
                                font-weight: 300;
                                line-height: 24px;
                                &:after {
                                    content: ":";
                                    padding: 0 4px;
                                }
                            }
                            dd {
                                float: left;
                                font-size: 14px;
                                color: #666;
                                font-weight: 300;
                                line-height: 24px;
                            }
                        }
                        &.jungbu {
                            margin-bottom: 60px;
                        }
                        &.nambu {

                        }
                    }
                }
            }
        }
        .table-wrap {
            margin-top: 45px;
        }
    }
}

// 대리점
// list
.agent-list {
    .section-header {
        padding-bottom: 60px;
    }
    .section-content {
        padding: 0;
        background: none;
        .tab-list {
            .agent-tab-list {
                display: inline-block;
                text-align: center;
                li {
                    display: inline;
                    &.active {
                        a {
                            color: #fff;
                            background-color: #e61937;
                            border-color: #e61937;
                            &:hover, &:focus {
                                opacity: 1;
                                cursor: default;
                            }
                        }
                    }
                    a {
                        float: left;
                        width: 167.1px;
                        font-size: 14px;
                        color: #999;
                        padding: 15px 0;
                        margin-left: -1px;
                        border: 1px solid #e3e3e3;
                        background-color: #fff;
                        @include trans();
                        &:hover, &:focus {
                            color: #fff;
                            text-decoration: none;
                            background-color: #e61937;
                            border-color: #e61937;
                        }
                    }
                }
            }
        }
        .table-wrap {
            margin-top: 50px;
        }
        .paging {
            margin-top: 50px;
        }
    }
}
// view
.agent-view {
    .section-content {
        .table-wrap {
            tbody {
                tr {
                    th {
                        padding: 20px 0;
                        padding-left: 15px;
                        b {
                            font-size: 18px;
                            font-weight: 500;
                        }
                        &.agent-maps {
                            vertical-align: top;
                            padding-top: 30px;
                        }
                    }
                    td {
                        font-size: 14px;
                        color: #666;
                        font-weight: 300;
                        padding: 20px 30px;
                        a {
                            color: #666;
                        }
                        &.agent-maps {
                            padding: 30px 38px;
                            .map {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: right;
            margin-top: 50px;
        }
    }
}
// 대리점게시판
.agent-notice {
    .section-content {
        .search-form {
            margin-bottom: 30px;
        }
        .btn-area {
            margin-top: 30px;
            text-align: right;
        }
        .paging {
            margin-top: 40px;
        }
    }
}


// 연락처
.contact {
    article {
        .article-content {
            .table-wrap {
                .table-type2 {
                    tbody {
                        tr {
                            td {
                                line-height: 24px;
                                font-weight: 300;
                                &:first-child {
                                    background-color: #f8f9fa;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 자료실 
.dataroom {
    .section-content {
        padding: 0;
        background: none;
        .table-wrap {
            .type-write {
                border: 2px solid #e61937;
                tbody {
                    tr {
                        th {
                            font-size: 16px;
                            color: #333;
                            font-weight: 400;
                            vertical-align: middle;
                            padding-left: 50px;
                        }
                        td {
                            padding: 28px 0 28px 50px;
                            background-color: #fff;
                            > ul {
                                font-size: 0;
                                li {
                                    display: inline-block;
                                    margin-right: 40px;
                                    font-size: 14px;
                                    color: #707070;
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                    label {
                                        font-size: 14px;
                                        color: #707070;
                                        font-weight: 300;
                                        input[type=radio] {
                                            position: relative;
                                            top: 1px;
                                            border: 1px solid #acacac;
                                            margin-right: 10px;
                                        }
                                    }
//                                    &.active {
//                                        label {
//                                            color: #e61937;
//                                            input[type=radio] {
//                                                border: 1px solid #e61937;
//                                            }
//                                        }
//                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .search-area {
            position: relative;
            height: 190px;
            padding: 72px 70px;
            margin-top: 20px;
            background-color: #fff;
            .logo {
                position: absolute;
                top: 75px;
                left: 70px;
            }
            .search-form {
                .form-group {
                    #search {
                        width: 690px;
                    }
                }
            }
        }
    }
}













































