@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600,700");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  position: relative;
  min-width: 1200px;
  font-size: 12px;
  color: #5b5b5b;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 140px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  min-width: 1200px !important; }

.customer .page-header {
  background-image: url(/assets/images/customer/customer_header_bg.jpg); }
.customer .sub-lnb .lnb-list li {
  width: 12.5%; }

.faq-list .section-content .search-form {
  margin-bottom: 30px; }
.faq-list .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }
.faq-list .section-content .paging {
  margin-top: 40px; }

.faq-view .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }

.qna-list .section-content .search-form {
  margin-bottom: 30px; }
.qna-list .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }
.qna-list .section-content .paging {
  margin-top: 40px; }

.qna-view .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }

.qna-write .section-content .table-wrap .table.type-write tbody tr th {
  padding-left: 15px; }
  .qna-write .section-content .table-wrap .table.type-write tbody tr th.u-content {
    vertical-align: top;
    padding-top: 20px; }
.qna-write .section-content .table-wrap .table.type-write tbody tr td .form-group .form-control {
  width: 142px;
  height: 35px; }
.qna-write .section-content .table-wrap .table.type-write tbody tr td.e-mail .form-group .form-control {
  width: 300px; }
.qna-write .section-content .table-wrap .table.type-write tbody tr td.subject .form-group .form-control {
  width: 792px; }
.qna-write .section-content .table-wrap .table.type-write tbody tr td.u-content {
  padding-top: 20px;
  padding-bottom: 20px; }
  .qna-write .section-content .table-wrap .table.type-write tbody tr td.u-content .form-group textarea {
    width: 792px;
    height: 162px; }
.qna-write .section-content .table-wrap .table.type-write tbody tr td.attach .form-group {
  display: inline-block; }
  .qna-write .section-content .table-wrap .table.type-write tbody tr td.attach .form-group .form-control {
    width: 322px; }
.qna-write .section-content .table-wrap .table.type-write tbody tr td.attach label {
  display: inline-block;
  width: 83px;
  height: 35px;
  font-size: 14px;
  color: #fff;
  vertical-align: top;
  line-height: 35px;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #acacac; }
.qna-write .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }

.video-list .section-content {
  padding: 0;
  background: none; }
  .video-list .section-content .search-form {
    margin-bottom: 30px; }
  .video-list .section-content > ul > li:nth-of-type(4n + 1) {
    clear: both; }
  .video-list .section-content > ul > li > a {
    display: block;
    margin-bottom: 65px; }
    .video-list .section-content > ul > li > a:hover, .video-list .section-content > ul > li > a:focus {
      text-decoration: none; }
      .video-list .section-content > ul > li > a:hover .details, .video-list .section-content > ul > li > a:focus .details {
        background-color: #e61937; }
        .video-list .section-content > ul > li > a:hover .details .video-title, .video-list .section-content > ul > li > a:focus .details .video-title {
          color: #fff; }
        .video-list .section-content > ul > li > a:hover .details .date, .video-list .section-content > ul > li > a:focus .details .date {
          color: #fff; }
    .video-list .section-content > ul > li > a .figure img {
      width: 270px;
      height: 270px; }
    .video-list .section-content > ul > li > a .details {
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      padding: 20px 30px; }
      .video-list .section-content > ul > li > a .details .video-title {
        font-size: 15px;
        color: #333;
        line-height: 22px; }
      .video-list .section-content > ul > li > a .details .date {
        display: block;
        font-size: 13px;
        color: #777;
        margin-top: 30px; }
  .video-list .section-content .btn-area {
    text-align: right; }
  .video-list .section-content .paging {
    margin-top: 20px; }

.video-view .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }

.cs-center .section-content {
  padding: 0;
  background: none; }
  .cs-center .section-content .after-center {
    overflow: hidden;
    width: 100%;
    height: 410px;
    border: 2px solid #b4b4b4;
    background-color: #fff; }
    .cs-center .section-content .after-center > div {
      float: left;
      height: 100%; }
      .cs-center .section-content .after-center > div.center-map {
        width: 668px;
        position: relative;
        background-image: url(/assets/images/customer/cs_center_map.png);
        background-repeat: no-repeat;
        background-position: 270px 50%; }
        .cs-center .section-content .after-center > div.center-map > div {
          position: absolute;
          text-align: center; }
          .cs-center .section-content .after-center > div.center-map > div > h4 {
            font-size: 16px;
            color: #e61937;
            font-weight: 500;
            margin-bottom: 5px; }
          .cs-center .section-content .after-center > div.center-map > div .area-list {
            overflow: hidden; }
            .cs-center .section-content .after-center > div.center-map > div .area-list > li {
              float: left;
              font-size: 13px;
              color: #666;
              font-weight: 300;
              line-height: 18px; }
              .cs-center .section-content .after-center > div.center-map > div .area-list > li:before {
                content: "·";
                padding: 0 3px; }
              .cs-center .section-content .after-center > div.center-map > div .area-list > li:first-child:before {
                content: "(";
                padding: 0; }
              .cs-center .section-content .after-center > div.center-map > div .area-list > li:last-child:after {
                content: ")"; }
          .cs-center .section-content .after-center > div.center-map > div.jungbu {
            top: 105px;
            left: 140px; }
          .cs-center .section-content .after-center > div.center-map > div.nambu {
            right: 35px;
            bottom: 115px; }
          .cs-center .section-content .after-center > div.center-map > div.call-number {
            bottom: 0;
            left: 0;
            width: 250px;
            height: 105px;
            padding-top: 20px;
            text-align: left;
            padding-left: 108px;
            background-image: url(/assets/images/customer/call_icon_bg.gif);
            background-color: #f4f4f4;
            background-repeat: no-repeat;
            background-position: 25px 50%; }
            .cs-center .section-content .after-center > div.center-map > div.call-number .call-txt {
              font-size: 15px;
              color: #333;
              line-height: 18px; }
              .cs-center .section-content .after-center > div.center-map > div.call-number .call-txt small {
                font-size: 13px;
                color: #666;
                opacity: .7; }
            .cs-center .section-content .after-center > div.center-map > div.call-number .num {
              font-family: "Gotham";
              font-size: 22px;
              color: #e61937;
              font-weight: bold; }
      .cs-center .section-content .after-center > div.center-addr {
        width: 498px;
        padding: 60px 0;
        padding-left: 30px; }
        .cs-center .section-content .after-center > div.center-addr > div {
          display: block;
          padding-left: 28px;
          background-image: url(/assets/images/customer/area_bg.png);
          background-repeat: no-repeat;
          background-position: 0 0; }
          .cs-center .section-content .after-center > div.center-addr > div > h4 {
            font-size: 16px;
            color: #666;
            font-weight: 500;
            padding-top: 3px;
            margin-bottom: 15px; }
          .cs-center .section-content .after-center > div.center-addr > div > address {
            font-size: 14px;
            color: #666;
            font-weight: 300;
            line-height: 24px; }
          .cs-center .section-content .after-center > div.center-addr > div > dl {
            overflow: hidden;
            clear: both; }
            .cs-center .section-content .after-center > div.center-addr > div > dl dt {
              float: left;
              clear: both;
              font-size: 14px;
              color: #666;
              font-weight: 300;
              line-height: 24px; }
              .cs-center .section-content .after-center > div.center-addr > div > dl dt:after {
                content: ":";
                padding: 0 4px; }
            .cs-center .section-content .after-center > div.center-addr > div > dl dd {
              float: left;
              font-size: 14px;
              color: #666;
              font-weight: 300;
              line-height: 24px; }
          .cs-center .section-content .after-center > div.center-addr > div.jungbu {
            margin-bottom: 60px; }
  .cs-center .section-content .table-wrap {
    margin-top: 45px; }

.agent-list .section-header {
  padding-bottom: 60px; }
.agent-list .section-content {
  padding: 0;
  background: none; }
  .agent-list .section-content .tab-list .agent-tab-list {
    display: inline-block;
    text-align: center; }
    .agent-list .section-content .tab-list .agent-tab-list li {
      display: inline; }
      .agent-list .section-content .tab-list .agent-tab-list li.active a {
        color: #fff;
        background-color: #e61937;
        border-color: #e61937; }
        .agent-list .section-content .tab-list .agent-tab-list li.active a:hover, .agent-list .section-content .tab-list .agent-tab-list li.active a:focus {
          opacity: 1;
          cursor: default; }
      .agent-list .section-content .tab-list .agent-tab-list li a {
        float: left;
        width: 146.25px;
        font-size: 14px;
        color: #999;
        padding: 15px 0;
        margin-left: -1px;
        border: 1px solid #e3e3e3;
        background-color: #fff;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .agent-list .section-content .tab-list .agent-tab-list li a:hover, .agent-list .section-content .tab-list .agent-tab-list li a:focus {
          color: #fff;
          text-decoration: none;
          background-color: #e61937;
          border-color: #e61937; }
  .agent-list .section-content .table-wrap {
    margin-top: 50px; }
  .agent-list .section-content .btn-area {
    margin-top: 30px;
    text-align: right; }
  .agent-list .section-content .paging {
    margin-top: 50px; }

.agent-view .section-content .table-wrap tbody tr th {
  padding: 20px 0;
  padding-left: 15px; }
  .agent-view .section-content .table-wrap tbody tr th b {
    font-size: 18px;
    font-weight: 500; }
  .agent-view .section-content .table-wrap tbody tr th.agent-maps {
    vertical-align: top;
    padding-top: 30px; }
.agent-view .section-content .table-wrap tbody tr td {
  font-size: 14px;
  color: #666;
  font-weight: 300;
  padding: 20px 30px; }
  .agent-view .section-content .table-wrap tbody tr td a {
    color: #666; }
  .agent-view .section-content .table-wrap tbody tr td.agent-maps {
    padding: 30px 38px; }
    .agent-view .section-content .table-wrap tbody tr td.agent-maps .map img {
      width: 100%; }
.agent-view .section-content .btn-area {
  text-align: right;
  margin-top: 50px; }

.agent-notice .section-content .search-form {
  margin-bottom: 30px; }
.agent-notice .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }
.agent-notice .section-content .paging {
  margin-top: 40px; }

.contact article .article-content .table-wrap .table-type2 tbody tr td {
  line-height: 24px;
  font-weight: 300; }
  .contact article .article-content .table-wrap .table-type2 tbody tr td:first-child {
    background-color: #f8f9fa; }

.dataroom .section-header {
  position: relative;
  padding-bottom: 70px; }
  .dataroom .section-header .search-area {
    position: absolute;
    top: 110px;
    right: 0; }
    .dataroom .section-header .search-area .search-form .form-group #search {
      width: 300px; }
.dataroom .section-content {
  padding: 0;
  background: none; }
  .dataroom .section-content .summary {
    font-size: 16px;
    color: #707070; }
    .dataroom .section-content .summary .icon-search-1 {
      margin-right: 5px;
      color: #707070; }
  .dataroom .section-content .table-wrap {
    margin-top: 30px; }
    .dataroom .section-content .table-wrap .type-write {
      border: 3px solid #cfcfcf; }
      .dataroom .section-content .table-wrap .type-write tbody tr th {
        font-size: 16px;
        color: #333;
        font-weight: 400;
        vertical-align: middle;
        padding-left: 50px; }
      .dataroom .section-content .table-wrap .type-write tbody tr td {
        padding: 28px 0 28px 50px;
        background-color: #fff; }
        .dataroom .section-content .table-wrap .type-write tbody tr td > ul {
          font-size: 0; }
          .dataroom .section-content .table-wrap .type-write tbody tr td > ul li {
            position: relative;
            display: inline-block;
            margin-right: 40px;
            font-size: 14px; }
            .dataroom .section-content .table-wrap .type-write tbody tr td > ul li:last-child {
              margin-right: 0; }
            .dataroom .section-content .table-wrap .type-write tbody tr td > ul li label {
              position: relative;
              color: #707070;
              font-weight: 400;
              padding-left: 23px;
              z-index: 1;
              cursor: pointer; }
            .dataroom .section-content .table-wrap .type-write tbody tr td > ul li input[type=radio] {
              position: absolute;
              visibility: hidden; }
              .dataroom .section-content .table-wrap .type-write tbody tr td > ul li input[type=radio]:checked ~ .check {
                border: 1px solid #e61937; }
              .dataroom .section-content .table-wrap .type-write tbody tr td > ul li input[type=radio]:checked ~ .check:before {
                background: #e61937; }
              .dataroom .section-content .table-wrap .type-write tbody tr td > ul li input[type=radio]:checked ~ label {
                color: #e61937; }
            .dataroom .section-content .table-wrap .type-write tbody tr td > ul li .check {
              position: absolute;
              top: 3px;
              left: 0;
              width: 14px;
              height: 14px;
              border: 1px solid #707070;
              border-radius: 50%;
              cursor: pointer;
              z-index: 0; }
              .dataroom .section-content .table-wrap .type-write tbody tr td > ul li .check:before {
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                transition: all 0.25s; }
  .dataroom .section-content .basic-content {
    width: 100%;
    height: 320px;
    text-align: center;
    margin-top: 45px;
    padding-top: 100px;
    background-color: #fff; }
    .dataroom .section-content .basic-content .attention {
      font-size: 18px;
      color: #333;
      padding-top: 100px;
      background-image: url(/assets/images/customer/no_search_bg.png);
      background-repeat: no-repeat;
      background-position: 50% 0%; }
  .dataroom .section-content .search-success {
    margin-top: 45px;
    padding: 40px 70px;
    background-color: #fff; }
    .dataroom .section-content .search-success .tab-list {
      margin-bottom: 40px; }
      .dataroom .section-content .search-success .tab-list > ul {
        display: inline-block;
        text-align: center; }
        .dataroom .section-content .search-success .tab-list > ul > li {
          display: inline; }
          .dataroom .section-content .search-success .tab-list > ul > li.active a {
            color: #fff;
            background-color: #e61937;
            border-color: #e61937; }
            .dataroom .section-content .search-success .tab-list > ul > li.active a:hover, .dataroom .section-content .search-success .tab-list > ul > li.active a:focus {
              opacity: 1;
              cursor: default; }
          .dataroom .section-content .search-success .tab-list > ul > li a {
            float: left;
            width: 172.6px;
            font-size: 14px;
            color: #999;
            padding: 15px 0;
            margin-left: -1px;
            border: 1px solid #e3e3e3;
            background-color: #fff;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .dataroom .section-content .search-success .tab-list > ul > li a:hover, .dataroom .section-content .search-success .tab-list > ul > li a:focus {
              color: #fff;
              text-decoration: none;
              background-color: #e61937;
              border-color: #e61937; }
    .dataroom .section-content .search-success .btn-area {
      margin-top: 30px;
      text-align: right; }
    .dataroom .section-content .search-success .paging {
      margin-top: 40px; }

.data_view .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }

/*# sourceMappingURL=customer.css.map */
