@import 'common';

// 헤더 네비
#topnav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 1002;
	background-color: $rcolor;
    .language {
        .btn {
            font-size: 12px;
            color: #fff;
            height: 40px;
            line-height: 40px;
            @include lato();
            padding: 0;
            @include trans();
            border-radius: 0;
            border: 0;
            background: none;
            &:hover, &:focus {
                background: none;
            }
        }
        .language-menu {
            min-width: 70px;
            padding: 0;
            top: 38px;
            li {
                text-align: center;
                a {
                    font-size: 12px;
                    padding: 5px 0;
                    @include lato();
                }
            }
        }
    }
    .member {
        font-size: 0;
        text-align: right;
        li {
            display: inline-block;
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 12px;
                @include lato();
                color: #fff;
                line-height: 40px;
            }
        }
    }
}

// 헤더
#header {
    position: fixed;
    top: 40px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    z-index: 1001;
    @include trans();
    background-color: #fff;
    .line {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        margin: 0;
        border-top: 1px solid #d5d5d5;
    }
    .logo {
        margin-top: 30px;
        a {
            display: inline-block;
            img {
                vertical-align: top;
            }
        }
    }
    .menu-list {
        > ul {
            > li {
                float: left;
                text-align: center;
                width: 128px;
                > a {
                    position: relative;
                    display: block;
                    font-size: 17px;
                    color: #333;
                    width: 100%;
                    line-height: 100px;
                    text-decoration: none;
//                    &:after {
//                        position: absolute;
//                        bottom: 0px;
//                        width: 100%;
//                        text-align: center;
//                        font-family: 'fontello';
//                        content: "\E800";
//                        color: #fff;
//                        display: none;
//                        color: $rcolor;
//                        font-size: 18px;
//                        line-height: 18px;
//                    }
                }
                ul {
                    height: 300px;
                    padding: 20px 0;
                    @include trans();
                    li {
                        text-align: center;
                        a {
                            position: relative;
                            display: inline-block;
                            font-size: 14px;
                            color: #666;
                            line-height: 32px;
                            text-decoration: none;
                            span {
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                width: 0;
                                height: 1px;
                                margin-left: 0;
                                @include trans();
                                background-color: #fff;
                            }
                            &:hover, &:focus {
                                span {
                                    margin-left: -50%;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                &:hover, &:focus {
                    > a {
                        color: $rcolor;
//                        &:after {
//                            display: block;
//                        }
                    }
                    > ul {
                        > li {
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }        
    }
}

// menu-list hover
body.nav-expanded {
	#header {
		height: 400px;
//        border-bottom: 1px solid #d5d5d5;
        .line {
            display: block;
        }
        .menu-list {
            li {
                &:hover, &:focus {
                    ul {
                        border-top: $rcolor;
                        background-color: $rcolor;
                    }
                }
            }
        }
	}
}

// 푸터 네비
#footnav {
    padding: 55px 0 50px;
    background-color: #666;
    .site-map {
        > ul {
            overflow: hidden;
            > li {
                float: left;
                width: 16.66%;
                h4 {
                    font-size: 16px;
                    color: #fff;
                    font-weight: 400;
                    margin-bottom: 25px;
                }
                ul {
                    li {
                        a {
                            display: inline-block;
                            font-size: 14px;
                            color: #fff;
                            opacity: .5;
                            font-weight: 300;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}

// 푸터 카피라이트
#footer {
    padding-top: 21px;
    padding-bottom: 21px;
    .foot-logo {
        a {
            display: inline-block;
            img {
                vertical-align: top;
            }
        }
    }
    .company-info {
        font-size: 0;
        padding-left: 10px;
        li {
            display: inline-block;
            font-size: 12px;
            color: #fff;
            font-weight: 300;
            &:after {
                display: inline-block;
                content: "|";
                font-size: 10px;
                vertical-align: top;
                color: #fff;
                padding: 0 10px;
            }
            &:last-child:after {
                content: "";
                padding: 0;
            }
            dl {
                display: inline-block;
                font-size: 0;
                dt {
                    display: inline-block;
                    font-size: 12px;
                    color: #fff;
                    font-weight: 300;
                    &:after {
                        content: ":";
                        padding: 0 3px;
                    }
                }
                dd {
                    display: inline-block;
                    font-size: 12px;
                    color: #fff;
                    font-weight: 300;
                }
            }
        }
    }
    .copyright {
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        margin-top: 6px;
        padding-left: 10px;
        @include lato();
        a {
            color: #fff;
            display: inline-block;
        }
    }
    background-color: #333;
}