@import url("https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600,700");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  position: relative;
  min-width: 1200px;
  font-size: 12px;
  color: #5b5b5b;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 140px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  min-width: 1200px !important; }

#topnav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 1002;
  background-color: #e61937; }
  #topnav .language .btn {
    font-size: 12px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    padding: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    border-radius: 0;
    border: 0;
    background: none; }
    #topnav .language .btn:hover, #topnav .language .btn:focus {
      background: none; }
  #topnav .language .language-menu {
    min-width: 70px;
    padding: 0;
    top: 38px; }
    #topnav .language .language-menu li {
      text-align: center; }
      #topnav .language .language-menu li a {
        font-size: 12px;
        padding: 5px 0;
        font-family: 'Lato', sans-serif; }
  #topnav .member {
    font-size: 0;
    text-align: right; }
    #topnav .member li {
      display: inline-block;
      margin-right: 40px; }
      #topnav .member li:last-child {
        margin-right: 0; }
      #topnav .member li a {
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        color: #fff;
        line-height: 40px; }

#header {
  position: fixed;
  top: 40px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  z-index: 1001;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  background-color: #fff; }
  #header .line {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    margin: 0;
    border-top: 1px solid #d5d5d5; }
  #header .logo {
    margin-top: 30px; }
    #header .logo a {
      display: inline-block; }
      #header .logo a img {
        vertical-align: top; }
  #header .menu-list > ul > li {
    float: left;
    text-align: center;
    width: 128px; }
    #header .menu-list > ul > li > a {
      position: relative;
      display: block;
      font-size: 17px;
      color: #333;
      width: 100%;
      line-height: 100px;
      text-decoration: none; }
    #header .menu-list > ul > li ul {
      height: 300px;
      padding: 20px 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      #header .menu-list > ul > li ul li {
        text-align: center; }
        #header .menu-list > ul > li ul li a {
          position: relative;
          display: inline-block;
          font-size: 14px;
          color: #666;
          line-height: 32px;
          text-decoration: none; }
          #header .menu-list > ul > li ul li a span {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 1px;
            margin-left: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            background-color: #fff; }
          #header .menu-list > ul > li ul li a:hover span, #header .menu-list > ul > li ul li a:focus span {
            margin-left: -50%;
            width: 100%; }
    #header .menu-list > ul > li:hover > a, #header .menu-list > ul > li:focus > a {
      color: #e61937; }
    #header .menu-list > ul > li:hover > ul > li a, #header .menu-list > ul > li:focus > ul > li a {
      color: #fff; }

body.nav-expanded #header {
  height: 400px; }
  body.nav-expanded #header .line {
    display: block; }
  body.nav-expanded #header .menu-list li:hover ul, body.nav-expanded #header .menu-list li:focus ul {
    border-top: #e61937;
    background-color: #e61937; }

#footnav {
  padding: 55px 0 50px;
  background-image: url(/assets/images/main/footnav_bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  #footnav .site-map > ul {
    overflow: hidden; }
    #footnav .site-map > ul > li {
      float: left;
      width: 16.66%; }
      #footnav .site-map > ul > li h4 {
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        margin-bottom: 25px; }
      #footnav .site-map > ul > li ul li a {
        display: inline-block;
        font-size: 14px;
        color: #fff;
        opacity: .5;
        font-weight: 300;
        line-height: 28px; }

#footer {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #333; }
  #footer .foot-logo a {
    display: inline-block; }
    #footer .foot-logo a img {
      vertical-align: top; }
  #footer .company-info {
    font-size: 0;
    padding-left: 10px; }
    #footer .company-info li {
      display: inline-block;
      font-size: 12px;
      color: #fff;
      font-weight: 300; }
      #footer .company-info li:after {
        display: inline-block;
        content: "|";
        font-size: 10px;
        vertical-align: top;
        color: #fff;
        padding: 0 10px; }
      #footer .company-info li:last-child:after {
        content: "";
        padding: 0; }
      #footer .company-info li dl {
        display: inline-block;
        font-size: 0; }
        #footer .company-info li dl dt {
          display: inline-block;
          font-size: 12px;
          color: #fff;
          font-weight: 300; }
          #footer .company-info li dl dt:after {
            content: ":";
            padding: 0 3px; }
        #footer .company-info li dl dd {
          display: inline-block;
          font-size: 12px;
          color: #fff;
          font-weight: 300; }
  #footer .copyright {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    margin-top: 6px;
    padding-left: 10px;
    font-family: 'Lato', sans-serif; }
    #footer .copyright a {
      color: #fff;
      display: inline-block; }

/*# sourceMappingURL=default.css.map */
