@import 'common';

.education {
    .page-header {
        background-image: url(/assets/images/education/education_header_bg.jpg);
        .sub-lnb {
            .lnb-list {
                li {
                    width: 50%;
                    &:after {
                        content: "";
                    }
                }
            }
        }
    }
}

// 교육안내
// 공통 
.e-guide {
    article {
        .article-header {
            padding-top: 130px;
        }
        &.guide {
            .article-header {
                padding-top: 110px;
            }
            .article-content {
                > p {
                    font-size: 16px;
                    color: #666;
                    font-weight: 300;
                    line-height: 26px;
                }
            }
        }
        &.general-term {
            .article-content {
                > dl {
                    overflow: hidden;
                    > dt {
                        float: left;
                        clear: both;
                        font-size: 16px;
                        color: #3a3a3a;
                        line-height: 30px;
                        font-weight: 400;
                        &:before {
                            content: "-";
                            padding-right: 2px;
                        }
                        &:after {
                            content: ":";
                            padding: 0 8px;
                        }
                    }
                    > dd {
                        float: left;
                        font-size: 16px;
                        color: #666;
                        line-height: 30px;
                        font-weight: 300;
                    }
                }
                .attention {
                    position: relative;
                    font-size: 15px;
                    color: #e61937;
                    font-weight: 300;
                    line-height: 26px;
                    padding-left: 10px;
                    &:before {
                        position: absolute;
                        top: 2px;
                        left: 1px;
                        content: "*";
                    }
                }
            }
        }
        &.procedure {
            .article-content {
                > ul {
                    font-size: 0;
                    > li {
                        position: relative;
                        display: inline-block;
                        width: 33.33%;
                        vertical-align: top;
                        text-align: center;
                        &:after {
                            position: absolute;
                            top: 64px;
                            right: -8px;
                            content: url(/assets/images/education/procedure_list_arrow.png);
                        }
                        &:last-child {
                            &:after {
                                content: "";
                            }
                        }
                        .figure {
                            display: inline-block;
                            width: 158px;
                            height: 158px;
                            line-height: 158px;
                            text-align: center;
                            border-radius: 50%;
                            background-color: #fff;
                            box-shadow: 2px 0px 10px rgba(0, 0, 0, .1);
                            img {
                                display: inline-block;
                            }
                        }
                        .details {
                            font-size: 15px;
                            color: #666;
                            line-height: 24px;
                            font-weight: 400;
                            margin-top: 40px;
                        }
                    }
                }
            }
        }
        &.inquiry-office {
            .article-content {
                text-align: center;
                padding: 53px 0 43px;
                border: 1px solid #e5e5e5;
                border-radius: 2px;
                background-color: #fff;
                h4 {
                    font-size: 22px;
                    color: #333;
                    line-height: 26px;
                    small {
                        font-size: 14px;
                        color: #666;
                        line-height: 26px;
                        vertical-align: top;
                        margin-right: 15px;
                    }
                }
                > ul {
                    margin-top: 35px;
                    li {
                        display: inline-block;
                        font-size: 16px;
                        color: #666;
                        font-weight: 300;
                        &:first-child {
                            margin-right: 40px;
                        }
                        i {
                            font-size: 14px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        &.attached-papers {
            .article-content {
                position: relative;
                > dl {
                    overflow: hidden;
                    > dt {
                        float: left;
                        clear: both;
                        font-size: 16px;
                        color: #3a3a3a;
                        line-height: 30px;
                        font-weight: 400;
                        &:before {
                            content: "-";
                            padding-right: 2px;
                        }
                        &:after {
                            content: ":";
                            padding: 0 8px;
                        }
                    }
                    > dd {
                        float: left;
                        font-size: 16px;
                        color: #666;
                        line-height: 30px;
                        font-weight: 300;
                    }
                }
                .btn-down {
                    position: absolute;
                    top: 0;
                    right: 0;
                    .btn-red {
                        width: 218px;
                        height: 38px;
                        font-size: 14px;
                        color: #fff;
                        line-height: 38px;
                        .icon-download {
                            font-size: 14px;
                            margin-right: 10px;
                        }
                        &:hover, &:focus {
                            opacity: .7;
                        }
                    }
                }
            }
        }
        &.tuition-fee {
            .article-content {
                > dl {
                    margin-top: 50px;
                    overflow: hidden;
                    > dt {
                        float: left;
                        clear: both;
                        font-size: 16px;
                        color: #3a3a3a;
                        line-height: 30px;
                        font-weight: 400;
                        &:before {
                            content: "-";
                            padding-right: 2px;
                        }
                        &:after {
                            content: ":";
                            padding: 0 8px;
                        }
                    }
                    > dd {
                        float: left;
                        font-size: 16px;
                        color: #666;
                        line-height: 30px;
                        font-weight: 300;
                    }
                }
                .attention {
                    position: relative;
                    font-size: 15px;
                    color: #e61937;
                    font-weight: 400;
                    line-height: 26px;
                    padding-left: 10px;
                    &:before {
                        position: absolute;
                        top: 2px;
                        left: 1px;
                        content: "*";
                    }
                }
            }
        }
        &.edu-location {
            .article-content {
                .location {
                    position: relative;
                    width: 100%;
                    height: 516px;
                    > address {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        font-size: 16px;
                        color: #666;
                        font-weight: 400;
                        text-align: center;
                        line-height: 84px;
                        background-color: rgba(255, 255, 255, .9);
                    }
                }
                .table-wrap {
                    margin-top: 50px;
                    .table-type3 {
                        tbody {
                            tr {
                                td {
                                    .icon-phone {
                                        font-size: 14px;
                                        margin-right: 10px;
                                    }
                                    > ol {
                                        > li {
                                            font-size: 14px;
                                            color: #666;
                                            line-height: 33px;
                                            .circle-num {
                                                display: inline-block;
                                                width: 22px;
                                                height: 22px;
                                                font-size: 13px;
                                                font-style: normal;
                                                color: #fff;
                                                text-align: center;
                                                line-height: 23px;
                                                border-radius: 50%;
                                                margin-right: 10px;
                                                background-color: #ff032e;
                                                @include arial();
                                            }
                                        }
                                    }
                                    > ul {
                                        > li {
                                            font-size: 14px;
                                            color: #666;
                                            line-height: 30px;
                                            &:before {
                                                content: "-";
                                                padding-right: 3px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 스케쥴/등록
.edu-schedule {
    .curriculum {
        .article-content {
            padding: 50px 70px 60px;
            background-color: #fff;
            .table-wrap {
                h4 {
                    font-size: 20px;
                    color: #333;
                    margin-bottom: 20px;
                    padding-left: 32px;
                    background-image: url(/assets/images/education/schedule_title_bg.png);
                    background-repeat: no-repeat;
                    background-position: 0 50%;
                }
                .type-schedule {
                    border-top: 3px solid #e8455d;
                    border-bottom: 1px solid #6f848e;
                    thead {
                        tr {
                            th {
                                font-size: 14px;
                                color: #444;
                                text-align: center;
                                font-weight: 400;
                                vertical-align: middle;
                                padding: 20px 0;
                                border: 0;
                                border-right: 1px solid #d6d6d6;
                                background-color: #f5f5f5;
                                &:last-child {
                                    border-right: 0;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                height: 60px;
                                font-size: 13px;
                                color: #666;
                                text-align: center;
                                vertical-align: middle;
                                padding: 0;
                                border: 1px solid #d6d6d6;
                                border-bottom: 0;
                                &:first-child {
                                    border-left: 0;
                                }
                                &:last-child {
                                    border-right: 0;
                                }
                                .btn-schedule {
                                    margin-top: 5px;
                                    .btn-gray {
                                        width: 54px;
                                        height: 20px;
                                        font-size: 11px;
                                        font-weight: 400;
                                        color: #fff;
                                        line-height: 18px;
                                        border-radius: 2px;
                                        background-color: #666;
                                        &:hover, &:focus {
                                            background-color: #e61937;
                                        }
                                    }
                                }
                                &.impossible {
                                    background-color: #efefef;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// Modal PopUp 
.modal {
    padding-top: 5%;
    padding-bottom: 150px;
    background-color: rgba(0, 0, 0, .5);
    .modal-dialog {
        width: 950px;
        .modal-content {
            border-radius: 0;
            .modal-header {
                position: relative;
                padding: 30px;
                border: 0;
                background-color: #e61937;
                .modal-title {
                    font-size: 20px;
                    color: #fff;
                    font-weight: 400;
                }
                .close {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    width: 14px;
                    height: 14px;
                    margin-top: -7px;
                    opacity: 1;
                    background-image: url(/assets/images/education/close_btn.png);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                }
            }
            .modal-body {
                padding: 0 30px 54px 30px;
                border: 0;
                background-color: #fff;
                .article-list {
                    overflow: hidden;
                    > article {
                        width: 50%;
                        float: left;
                        vertical-align: middle;
                        padding-bottom: 10px;
                        &:nth-of-type(2n + 1) {
                            clear: both;
                        }
                        .article-header {
                            padding: 50px 0 30px;
                            .content-title {
                                font-size: 18px;
                                padding-left: 22px;
                                background-image: url(/assets/images/education/modal_title_bg.png);
                            }
                        }
                        &.detail-content {
                            width: 100%;
                            clear: both;
                            .article-content {
                                .table-wrap {
                                    .table-type2 {
                                        tbody {
                                            tr {
                                                td {
                                                    padding: 50px 0 50px 30px;
                                                    text-align: left;
                                                    &:last-child {
                                                        padding-left: 60px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.type-2 {
                    padding: 40px;
                    .table-wrap {
                        .form-control {
                            display: inline-block;
                            width: 100%;
                            height: 32px;
                            border-radius: 2px;
                        }
                        .type-write {
                            tbody {
                                tr {
                                    th {
                                        font-weight: 400;
                                        label {
                                            font-weight: 400;
                                        }
                                    }
                                    td {
                                        height: 45px;
                                        font-size: 14px;
                                        color: #444;
                                        font-weight: 300;
                                        vertical-align: middle;
                                        padding-left: 35px;
                                        padding-right: 35px;
                                        label {
                                            display: inline-block;
                                            font-size: 14px;
                                            color: #444;
                                            font-weight: 300;
                                            margin-right: 13px;
                                            line-height: 32px;
                                        }
                                        .form-group {
                                            display: inline-block;
                                            margin-right: 25px;
                                            &:last-child {
                                                margin-right: 0;
                                            }
                                        }
                                        &.u-name {
                                            .form-group {
                                                .form-control {
                                                    width: 142px;
                                                }
                                            }
                                        }
                                        &.th {
                                            padding-left: 25px;
                                            background-color: #f5f5f5;
                                            label {
                                                font-weight: 400;
                                            }
                                        }
                                        &.zip-code {
                                            .form-group {
                                                .form-control {
                                                    width: 100px;
                                                    &:nth-of-type(1) {
                                                        margin-right: 5px;
                                                    }
                                                    &:nth-of-type(2) {
                                                        margin-left: 5px;
                                                    }
                                                }
                                            }
                                            .zip-code-btn {
                                                display: inline-block;
                                                margin-left: 10px;
                                                vertical-align: top;
                                                .btn-gray {
                                                    width: 118px;
                                                    height: 32px;
                                                    font-size: 13px;
                                                    color: #fff;
                                                    line-height: 30px;
                                                    border-radius: 2px;
                                                    background-color: #acacac;
                                                    &:hover, &:focus {
                                                        opacity: .7;
                                                    }
                                                }
                                            }
                                        }
                                        &.common-width {
                                            .form-group {
                                                .form-control {
                                                    width: 400px;
                                                }
                                            }
                                        }
                                        &.phone {
                                            .form-group {
                                                .form-control {
                                                    width: 56px;
                                                    padding-left: 10px;
                                                    padding-right: 10px;
                                                    margin-left: 4px;
                                                    margin-right: 4px;
                                                    &:nth-of-type(1) {
                                                        margin-left: 0;
                                                    }
                                                    &:nth-of-type(3) {
                                                        margin-right: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .btn-area {
                        margin-top: 50px;
                        p {
                            .btn {
                                width: 140px;
                                height: 40px;
                                font-size: 15px;
                                line-height: 40px;
                                margin-right: 10px;
                                border-radius: 0;
                                &.btn-gray {
                                    background-color: #929291;
                                }
                                &:hover, &:focus {
                                    opacity: .7;
                                }
                            }
                        }
                    }
                }
            }
            .modal-footer {
                padding: 35px 0;
                border: 0;
                text-align: center;
                &.modal-foot-bg {
                    border-top: 1px solid #efefef;
                    background-color: #f5f5f5;
                }
                .attention {
                    display: block;
                    font-size: 16px;
                    color: #e61936;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
                .btn-area {
                    p {
                        .btn {
                            width: 140px;
                            height: 40px;
                            font-size: 15px;
                            line-height: 40px;
                            margin-right: 10px;
                            border-radius: 0;
                            &.btn-gray {
                                background-color: #929291;
                            }
                            &:hover, &:focus {
                                opacity: .7;
                            }
                        }
                    }
                }
            }
        }
    }
}
// dott-list
.dott-list {
    li {
        font-size: 14px;
        color: #666;
        line-height: 28px;
        &:before {
            content: "·";
            padding-right: 5px;
        }
    }
}