@import 'common';


// 메인 컨텐츠
#content {
    article {
        &.technology {
            width: 100%;
            height: 280px;
            margin-bottom: 30px;
            padding: 130px 20px 20px;
            text-align: right;
            background-image: url(/assets/images/main/technology_bg.jpg);
            background-position: 50% 50%;
            background-size: 100% auto;
            h5 {
                font-size: 24px;
                font-weight: 500;
                color: #333;
                margin-bottom: 15px;
            }
            p {
                font-size: 13px;
                color: #666;
                line-height: 18px;
                margin-bottom: 15px;
            }
            .btn-catalog {
                .btn-red {
                    width: 182px;
                    height: 38px;
                    line-height: 36px;
                    font-size: 14px;
                    color: #fff;
                    font-weight: 300;
                    padding: 0;
                    border-radius: 0;
                    @include trans();
                    background-color: #ff0327;
                    .icon-file-pdf {
                        margin-right: 10px;
                    }
                    &:hover, &:focus {
                        color: rgba(255, 255, 255, .8);
                    }
                }
            }
        }
        &.product {
            width: 100%;
            height: 280px;
            padding: 37px 30px 14px;
            background-color: #fff;
            h5 {
                font-size: 19px;
                color: #5b5b5b;
                font-weight: 500;
                @include lato();
                margin-bottom: 35px;
            }
            .bx-wrapper {
                position: relative;
                .bx-viewport {
                    .product-list {
                        li {
                            text-align: center;
                            figure {
                                img {
                                    display: inline-block;
                                    height: 100px;
                                }
                                figcaption {
                                    font-size: 16px;
                                    color: #5b5b5b;
                                    @include lato();
                                    margin-top: 15px;
                                }
                            }
                        }
                    }
                }
                .bx-controls {
                    .bx-controls-direction {
                        position: absolute;
                        top: 30px;
                        width: 100%;
                        a {
                            position: relative;
                            display: inline-block;
                            font-size: 0;
                            text-indent: -99999px;
                            text-decoration: none;
                            &:after {
                                position: absolute;
                                top: 0;
                                font-family: 'fontello';
                                font-size: 30px;
                                color: #8b8b8b;
                                text-indent: 0;
                                display: block;
                            }
                            &:hover {
                                &:after {
                                    color: #222;
                                }
                            }
                            &.bx-prev {
                                float: left;
                                &:after {
                                    left: 0;
                                    content: "\E802";
                                }
                            }
                            &.bx-next {
                                float: right;
                                &:after {
                                    right: 0;
                                    content: "\E801";
                                }
                            }
                        }
                    }
                    .bx-pager {
                        margin-top: 20px;
                        text-align: center;
                        .bx-pager-item {
                            display: inline-block;
                            margin: 0 5px;
                            a {
                                display: inline-block;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: #a5a8ad;
                                text-indent: -9999px;
                                &.active {
                                    background-color: #ff0025;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.rsa-press {
            height: 280px;
            margin-bottom: 30px;
            padding: 35px 25px 15px;
            background-color: #fff;
            h5 {
                width: 100%;
                font-size: 19px;
                color: #5b5b5b;
                font-weight: 500;
                @include lato();
                .more {
                    position: relative;
                    top: 4px;
                    float: right;
                    font-size: 12px;
                    color: #5b5b5b;
                    font-weight: 300;
                    text-align: right;
                    @include trans();
                    @include noto();
                    &:hover, &:focus {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
            hr {
                width: 100%;
                margin: 25px 0 35px;
                border-top: 1px solid #adadad;
            }
            .bx-wrapper {
                .bx-viewport {
                    .press-slider {
                        li {
							height: 120px;
                            a {
                                overflow: hidden;
                                .figure {
                                    float: left;
                                    img {
                                        width: 117px;
                                        height: 120px;
                                    }
                                }
                                .details {
                                    float: left;
                                    padding-left: 15px;
                                    .press-subject {
                                        font-size: 16px;
                                        color: #333;
                                        margin-bottom: 15px;
                                    }
                                    .press-content {
                                        overflow: hidden;
                                        width: 183px;
                                        height: 60px;
                                        font-size: 13px;
                                        color: #5b5b5b;
                                        line-height: 20px;
                                        opacity: .7;
                                    }
                                    .date {
                                        font-size: 13px;
                                        color: #5b5b5b;
                                        opacity: .7;
                                        text-align: right;
                                        margin-top: 10px;
                                    }
                                }
                                &:hover, &:focus {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                .bx-controls {
                    .bx-controls-direction {
                        display: none;
                    }
                    .bx-pager {
                        margin-top: 20px;
                        text-align: center;
                        .bx-pager-item {
                            display: inline-block;
                            margin: 0 5px;
                            a {
                                display: inline-block;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: #a5a8ad;
                                text-indent: -9999px;
                                &.active {
                                    background-color: #ff0025;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.rsa-notice {
            width: 100%;
            height: 280px;
            padding: 35px 25px;
            background-color: #fff;
            h5 {
                width: 100%;
                font-size: 19px;
                color: #5b5b5b;
                font-weight: 500;
                @include lato();
                .more {
                    position: relative;
                    top: 4px;
                    float: right;
                    font-size: 12px;
                    color: #5b5b5b;
                    font-weight: 300;
                    text-align: right;
                    @include trans();
                    @include noto();
                    &:hover, &:focus {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
            hr {
                width: 100%;
                margin: 25px 0;
                border-top: 1px solid #adadad;
            }
            .notice-list {
                li {
                    position: relative;
                    line-height: 36px;
                    a {
                        position: relative;
                        display: block;
                        font-size: 14px;
                        color: #5b5b5b;
                        opacity: .7;
                        padding-left: 12px;
                        padding-right: 50px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        &:before {
                            position: absolute;
                            left: 2px;
                            content: "·";
                            opacity: .7;
                            display: inline-block;
                        }
                        .date {
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 14px;
                            color: #5b5b5b;
                        }
                    }
                }
            }
        }
    }
    .rs-search-area {
        width: 100%;
        height: 210px;
        text-align: center;
        margin-bottom: 30px;
        padding: 35px 22px 39px;
        background-color: #ff0025;
        h5 {
            font-size: 19px;
            color: #fff;
            font-weight: 500;
            @include lato();
            margin-bottom: 15px;
        }
        .summary {
            font-size: 12px;
            color: #fff;
            line-height: 20px;
            font-weight: 300;
            margin-bottom: 25px;
        }
        .form-group {
            position: relative;
            margin: 0;
            .form-control {
                width: 100%;
                height: 34px;
                border: 0;
                border-radius: 0;
                padding-right: 35px;
                &:hover, &:focus {
                    box-shadow: none;
                }
            }
            .btn-search {
                position: absolute;
                top: 0;
                right: 0;
                width: 34px;
                height: 34px;
                background: none;
                box-shadow: none;
                border: 0;
                @include trans();
                opacity: .7;
                &:hover, &:focus {
                    opacity: 1;
                }
                .icon-search-1 {
                    display: inline-block;
                    font-size: 15px;
                    color: #ff0025;
                    text-align: center;
                    line-height: 34px;
                }
            }
        }
    }
    .partner {
        width: 100%;
        margin-bottom: 30px;
        background-color: #fff;
        a {
            display: block;
            width: 100%;
            height: 160px;
            text-align: center;
            padding-top: 30px;
            text-decoration: none;
            h5 {
                height: 100px;
                font-size: 18px;
                color: #5b5b5b;
                font-weight: 400;
                background-image: url(/assets/images/main/partner_bg.png);
                background-position: 50% 100%;
                background-repeat: no-repeat;
            }
        }
    }
    .location {
        width: 100%;
        height: 160px;
        background-color: rgba(167, 169, 172, .15);
        a {
            display: block;
            width: 100%;
            height: 160px;
            text-align: center;
            padding-top: 30px;
            text-decoration: none;
            h5 {
                height: 90px;
                font-size: 18px;
                color: #5b5b5b;
                font-weight: 400;
                background-image: url(/assets/images/main/location_bg.png);
                background-position: 50% 100%;
                background-repeat: no-repeat;
            }
        }
    }
}

// 비주얼 영상
#fields {
	display: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 663px;
    z-index: 999;
    .video-area {
        video {
            width: 100%;
            height: 100%;
        }
    }
    .fields-content {
        position: absolute;
        top: 0;
        display: table;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 30em rgba(0, 0, 0, .5);
        > div {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
        .rsa-title {
            font-size: 50px;
            color: #fff;
            @include lato();
            font-weight: bold;
            margin-bottom: 40px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            small {
                font-size: 24px;
                color: #fff;
                @include noto();
            }
        }
        .summary {
            font-size: 24px;
            color: #fff;
            font-weight: 400;
            @include noto();
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
    }
}

// 비주얼 영역
#jumbo {
	overflow: hidden;
	position: relative;
	height: 663px;
	.jumbo-slider {
		.bx-wrapper {
			.bx-viewport {
				ul {
					li {
						overflow: hidden;
						position: relative;
						height: 663px;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: 50% 50%;
						video {
							position: relative;
							width: 100%;
							height: auto;
						}
						.img {
							position: relative;
							width: 100%;
							height: 100%;
							background-repeat: no-repeat;
							background-size: cover;
							background-position: 50% 50%; 
							-ms-transform: scale(1.2);
							-webkit-transform: scale(1.2);
							transform: scale(1.2);
						}
						&.active {
							.img {
								@include trans($sec: 3s);
								-ms-transform: scale(1);
								-webkit-transform: scale(1);
								transform: scale(1);
							}
						}
					}
				}
			}
			.bx-controls {
				z-index: 1;
				position: absolute;
				bottom: 50px;
				left: 0;
				width: 100%;
				height: 15px;
				text-align: center;
				.bx-pager {
					display: inline-block;
					.bx-pager-item {
						display: inline;
						.bx-pager-link {
							float: left;
							width: 15px;
							height: 15px;
							border: 1px solid #fff;
							border-radius: 50%;
							&.active {
								background-color: #fff;
							}
						}
						& + .bx-pager-item {
							.bx-pager-link {
								margin-left: 10px;
							}
						}
					}
				}
			}
		}
	}
	.jumbo-content {
        position: absolute;
        top: 0;
        display: table;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 30em rgba(0, 0, 0, .5);
        > div {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
        .menu-list {
            font-size: 0;
            margin-top: 65px;
            div {
                display: inline-block;
                h3 {
                    width: 100%;
                    font-size: 13px;
                    color: #fff;
                    display: block;
                    line-height: 25px;
                    margin-left: -1px;
                    border: 1px solid #989390;
                    background-color: rgba(#000, .5);
                }
                ul {
                    li {
                        display: inline;
                        &:last-child {
                            a {
                                border-right: 1px solid #989390;
                            }
                        }
                        a {
                            float: left;
                            width: 130px;
                            text-align: center;
                            border: 1px solid #989390;
                            border-top: 0;
                            padding: 15px 0;
                            @include trans();
                            margin-left: -1px;
                            background-color: rgba(#000, .5);
                            i {
                                display: block;
                                width: 100%;
                                height: 50px;
                                background-position: 50% 50%;
                                background-repeat: no-repeat;
                                &.icon-1 {background-image: url(/assets/images/main/icon_img01.png);}
                                &.icon-2 {background-image: url(/assets/images/main/icon_img02.png);}
                                &.icon-3 {background-image: url(/assets/images/main/icon_img03.png);}
                                &.icon-4 {background-image: url(/assets/images/main/icon_img04.png);}
                                &.icon-5 {background-image: url(/assets/images/main/icon_img05.png);}
                                &.icon-6 {background-image: url(/assets/images/main/icon_img06.png);}
                                &.icon-7 {background-image: url(/assets/images/main/icon_img07.png);}
                                &.icon-8 {background-image: url(/assets/images/main/icon_img08.png);}
                            }
                            p {
                                font-size: 14px;
                                color: #fff;
                                @include lato();
                                font-weight: 400;
                                margin-top: 10px;
                                @include trans();
                            }
                            &:hover, &:focus {
                                position: relative;
                                z-index: 999;
                                text-decoration: none;
                                opacity: 1;
                                p {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
                &.robot-motion {
                    h3 {
                        width: 776px;
                    }
                    ul {
                        li {
                            &:last-child {
                                a {
                                    border-right: 0;
                                }
                            }
                            a {
                                &:hover, &:focus {
                                    background-color: #e61937;
                                    border-color: #e61937;
                                }
                            }
                        }
                    }
                }
                &.energy-control {
                    h3 {
                        width: 259px;
                    }
                    ul {
                        li {
                            a {
                                &:hover, &:focus {
                                    background-color: #00ac65;
                                    border-color: #00ac65;
                                }
                            }
                        }
                    }
                }
            }
        }
        .rsa-title {
            font-size: 50px;
            color: #fff;
            @include lato();
            font-weight: bold;
            margin-bottom: 40px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 1);
            small {
                font-size: 24px;
                color: #fff;
                @include noto();
            }
        }
        .summary {
            font-size: 24px;
            color: #fff;
            font-weight: 400;
            @include noto();
            text-shadow: 0 0 5px rgba(0, 0, 0, 1);
        }
    }
	.jumbo-cover {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
	}
}

// 서비스센터 및 게시판
#rsa-center {
    position: relative;
    box-shadow: 0px 0px 35px 0px #ccc;
    .container {
        > div {
            float: left;
            width: 25%;
            margin: 49px 0;
            padding-left: 50px;
            border-right: 1px solid #e5e5e5;
            a {
                display: inline-block;
                font-size: 14px;
                color: #000;
                height: 52px;
                font-weight: 400;
                padding-left: 74px;
                background-position: 0 2px;
                background-repeat: no-repeat;
                &:hover, &:focus {
                    text-decoration: none;
                }
                p {
                    font-size: 12px;
                    color: #666;
                    line-height: 16px;
                    font-weight: 300;
                    margin-top: 10px;
                }
            }
            &:last-child {
                border-right: 0;
            }
            &.cs-center {
                a {
                    background-image: url(/assets/images/main/service_bg.png);
                }
            }
            &.data-room {
                a {
                    background-image: url(/assets/images/main/data_bg.png);
                }
            }
            &.faq {
                a {
                    background-image: url(/assets/images/main/faq_bg.png);
                }
            }
            &.qna {
                a {
                    background-image: url(/assets/images/main/qna_bg.png);
                }
            }
        }
    }
}


// 메인 컨텐츠
#rsa-content {
    padding: 110px 0;
    background-image: url(/assets/images/main/rsa_content_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}