@import 'common';

// 공통 
.product {
    .page-header {
        background-image: url(/assets/images/product/product_header_bg.jpg);
    }
    .section-content {
        padding: 0;
        background: none;
    }
}

// 제품 리스트
.product-list {
    .section-content {
        .tab-list {
            margin-bottom: 50px;
            > ul {
                display: inline-block;
                text-align: center;
                > li {
                    display: inline;
                    &.active {
                        a {
                            color: #fff;
                            background-color: #e61937;
                            border-color: #e61937;
                            &:hover, &:focus {
                                opacity: 1;
                                cursor: default;
                            }
                        }
                    }
                    a {
                        float: left;
                        width: 235px;
                        font-size: 14px;
                        color: #999;
                        padding: 15px 0;
                        margin-left: -1px;
                        border: 1px solid #e3e3e3;
                        background-color: #fff;
                        @include trans();
                        &:hover, &:focus {
                            color: #fff;
                            text-decoration: none;
                            background-color: #e61937;
                            border-color: #e61937;
                        }
                    }
                }
            }
        }
        .product-item {
            padding: 80px 0;
            background-color: #fff;
            & ~ .product-item {
                margin-top: 100px;
            }
            .row {
                // grid 행간 middle
//                > .vcenter {
//                    float: none;
//                    display: inline-block;
//                    vertical-align: middle;
//                }
            }
            .figure {
                text-align: center;
                .product-img {
                    img {
                        display: inline-block;
                    }
                }
            }
            .btn-area {
                margin-top: 40px;
                p {
                    .btn-red {
                        width: 218px;
                        height: 38px;
                        font-size: 14px;
                        color: #fff;
                        line-height: 36px;
                        text-align: center;
                        .icon-file-pdf {
                            margin-right: 10px;
                        }
                    }
                }
            }
            .details {
                padding-left: 55px;
                .attention {
                    font-size: 13px;
//                    color: #e61c39;
                    font-weight: 400;
                    margin-top: 10px;
                    &:before {
                        content: "*";
                    }
                }
                .product-name {
                    font-size: 48px;
                    color: #333;
                    font-weight: bold;
                    @include lato();
                }
                p {
                    font-size: 13px;
                    font-weight: 300;
                    color: #666;
                    line-height: 24px;
                    margin-top: 15px;
                    &.summary {
                        font-size: 15px;
                        color: #666;
                        line-height: 26px;
                        opacity: .8;
                        font-weight: 400;
                        margin-top: 5px;
                    }
                }
                strong, b {
                    display: block;
                    font-size: 16px;
                    color: #666;
                    font-weight: 500;
                    line-height: 24px;
                    margin-top: 30px;
                }
                ul {
                    margin-top: 15px;
                    li {
                        font-size: 13px;
                        color: #666;
                        line-height: 24px;
                        font-weight: 300;
                    }
                }
                .table-wrap {
                    .table-type2 {
                        tbody {
                            tr {
                                th {
                                    font-size: 13px;
                                    color: #fff;
                                    text-align: left;
                                    font-weight: 400;
                                    line-height: 26px;
                                    vertical-align: top;
                                    padding: 15px 0 15px 25px;
                                    border-top: 1px solid #b4b4b4;
                                    border-bottom: 1px solid #b4b4b4;
                                    background-color: #adadad;
                                }
                                td {
                                    text-align: left;
                                    padding: 15px 0 15px 30px;
                                    line-height: 26px;
                                }
                            }
                        }
                    }
                }
            }
            .table-wrap {
                margin-top: 50px;
                .table-type2 {
                    thead {
                        tr {
                            th {
                                font-size: 13px;
                                color: #fff;
                                vertical-align: middle;
                                background-color: #adadad;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                font-size: 13px;
                                color: #666;
                                font-weight: 300;
                                vertical-align: middle;
                                border-bottom: 1px solid #e5e5e5;
                            }
                        }
                    }
                }
            }
        }
    }
}