@import url("https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600,700");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  position: relative;
  min-width: 1200px;
  font-size: 12px;
  color: #5b5b5b;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 140px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  min-width: 1200px !important; }

.rnd .page-header {
  background-image: url(/assets/images/rnd/rnd_header_bg.jpg); }
.rnd .sub-lnb .lnb-list li {
  width: 12.5%; }

.faq-list .section-content .search-form {
  margin-bottom: 30px; }
.faq-list .section-content .paging {
  margin-top: 40px; }

.faq-view .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }

.qna-list .section-content .search-form {
  margin-bottom: 30px; }
.qna-list .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }
.qna-list .section-content .paging {
  margin-top: 40px; }

.qna-view .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }

.qna-write .section-content .table-wrap .table.type-write tbody tr th {
  padding-left: 15px; }
  .qna-write .section-content .table-wrap .table.type-write tbody tr th.u-content {
    vertical-align: top;
    padding-top: 20px; }
.qna-write .section-content .table-wrap .table.type-write tbody tr td .form-group .form-control {
  width: 142px;
  height: 35px; }
.qna-write .section-content .table-wrap .table.type-write tbody tr td.subject .form-group .form-control {
  width: 792px; }
.qna-write .section-content .table-wrap .table.type-write tbody tr td.u-content {
  padding-top: 20px;
  padding-bottom: 20px; }
  .qna-write .section-content .table-wrap .table.type-write tbody tr td.u-content .form-group textarea {
    width: 792px;
    height: 162px; }
.qna-write .section-content .table-wrap .table.type-write tbody tr td.attach .form-group {
  display: inline-block; }
  .qna-write .section-content .table-wrap .table.type-write tbody tr td.attach .form-group .form-control {
    width: 322px; }
.qna-write .section-content .table-wrap .table.type-write tbody tr td.attach label {
  display: inline-block;
  width: 83px;
  height: 35px;
  font-size: 14px;
  color: #fff;
  vertical-align: top;
  line-height: 35px;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #acacac; }
.qna-write .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }

.video-list .section-content {
  padding: 0;
  background: none; }
  .video-list .section-content > ul > li:nth-of-type(4n + 1) {
    clear: both; }
  .video-list .section-content > ul > li > a {
    display: block;
    margin-bottom: 65px; }
    .video-list .section-content > ul > li > a:hover, .video-list .section-content > ul > li > a:focus {
      text-decoration: none; }
      .video-list .section-content > ul > li > a:hover .details, .video-list .section-content > ul > li > a:focus .details {
        background-color: #e61937; }
        .video-list .section-content > ul > li > a:hover .details .video-title, .video-list .section-content > ul > li > a:focus .details .video-title {
          color: #fff; }
        .video-list .section-content > ul > li > a:hover .details .date, .video-list .section-content > ul > li > a:focus .details .date {
          color: #fff; }
    .video-list .section-content > ul > li > a .figure img {
      width: 270px;
      height: 270px; }
    .video-list .section-content > ul > li > a .details {
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      padding: 20px 30px; }
      .video-list .section-content > ul > li > a .details .video-title {
        font-size: 15px;
        color: #333;
        line-height: 22px; }
      .video-list .section-content > ul > li > a .details .date {
        display: block;
        font-size: 13px;
        color: #777;
        margin-top: 30px; }
  .video-list .section-content .paging {
    margin-top: 20px; }

.cs-center .section-content {
  padding: 0;
  background: none; }
  .cs-center .section-content .center-addr {
    position: relative;
    width: 100%;
    height: 410px;
    border: 5px solid #b4b4b4;
    background-color: #fff;
    background-image: url(/assets/images/rnd/cs_center_bg.png);
    background-repeat: no-repeat;
    background-position: 48% 50%; }
    .cs-center .section-content .center-addr > div {
      position: absolute;
      padding-left: 125px;
      background-image: url(/assets/images/rnd/area_bg.png);
      background-repeat: no-repeat;
      background-position: 0 0; }
      .cs-center .section-content .center-addr > div > h4 {
        font-size: 16px;
        color: #666;
        font-weight: 500;
        margin-bottom: 15px; }
      .cs-center .section-content .center-addr > div > address {
        font-size: 14px;
        color: #666;
        font-weight: 300;
        line-height: 24px; }
      .cs-center .section-content .center-addr > div > dl dt {
        float: left;
        clear: both;
        font-size: 14px;
        color: #666;
        font-weight: 300;
        line-height: 24px; }
        .cs-center .section-content .center-addr > div > dl dt:after {
          content: ":";
          padding: 0 4px; }
      .cs-center .section-content .center-addr > div > dl dd {
        float: left;
        font-size: 14px;
        color: #666;
        font-weight: 300;
        line-height: 24px; }
      .cs-center .section-content .center-addr > div.jungbu {
        top: 100px;
        left: 77px; }
      .cs-center .section-content .center-addr > div.nambu {
        bottom: 75px;
        right: 55px; }
  .cs-center .section-content .table-wrap {
    margin-top: 45px; }

.agent-list .section-content {
  padding: 0;
  background: none; }
  .agent-list .section-content .form-group {
    text-align: right; }
    .agent-list .section-content .form-group .form-control {
      display: inline-block;
      width: 110px;
      height: 45px;
      font-size: 14px;
      color: #999;
      padding-left: 15px; }
  .agent-list .section-content .table-wrap {
    margin-top: 32px; }
  .agent-list .section-content .paging {
    margin-top: 50px; }

.agent-view .section-content .table-wrap tbody tr th {
  padding: 20px 0;
  padding-left: 15px; }
  .agent-view .section-content .table-wrap tbody tr th b {
    font-size: 18px;
    font-weight: 500; }
  .agent-view .section-content .table-wrap tbody tr th.agent-maps {
    vertical-align: top;
    padding-top: 30px; }
.agent-view .section-content .table-wrap tbody tr td {
  font-size: 14px;
  color: #666;
  font-weight: 300;
  padding: 20px 30px; }
  .agent-view .section-content .table-wrap tbody tr td a {
    color: #666; }
  .agent-view .section-content .table-wrap tbody tr td.agent-maps {
    padding: 30px 38px; }
    .agent-view .section-content .table-wrap tbody tr td.agent-maps .map img {
      width: 100%; }
.agent-view .section-content .btn-area {
  text-align: right;
  margin-top: 50px; }

.agent-notice .section-content .search-form {
  margin-bottom: 30px; }
.agent-notice .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }
.agent-notice .section-content .paging {
  margin-top: 40px; }

.contact article .article-content .table-wrap .table-type2 tbody tr td {
  line-height: 24px;
  font-weight: 300; }
  .contact article .article-content .table-wrap .table-type2 tbody tr td:first-child {
    background-color: #f8f9fa; }

/*# sourceMappingURL=rnd.css.map */
